.env
prod.env
node_modules
replays*
*.log*
sentry
servers
*.meta
*.dem
*.bz2
output*
coverage
/bin/
Thumbs.db
public/build/*
ecosystem.json
*.swp
secret.yaml
redis-config.yaml
postgres-config.yaml
dependency-reduced-pom.xml
Procfile.dev
docker-compose.override.yml