extend layout

block content
  #about-top.gallery.faq
    .row
      .col-md-6.col-md-offset-3.text-center
        h2 FAQ             
        h4 Where all your questions are answered.
        img(src='../public/images/curlycue.png')
        br
        br

    .container.well.well-lg
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
          .panel-left.col-sm-6
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                  | What is YASP?                   
              #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                .panel-body
                  | YASP is a free, open-source Dota 2 stats site. We currently offer the following features:
                  li
                    | Replay parsing. This allows us to present additional statistics that aren&apos;t available in the API or game client.
                  |                                 
                  li Rating tracking. This allows us to show you your rating history.
                  |                                 
                  li Player statistics.  We generate histograms and heatmaps of match history, and break down statistics such as hero matchups.               
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                  | What does YASP stand for?
              |                         
              #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                .panel-body
                  | YASP stands for YASP: Another Stats Page, which makes it a recursive acronym along the lines of GNU and YAML.
            |                     
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                  | How do you make money/keep the site running?
              |                         
              #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                .panel-body
                  | YASP is a side project of a group of college students. As such, we&apos;re not looking to make money off the site, although we do run ads to help pay for server costs. We also sell Cheese to help support our rising hosting costs. Please consider a purchase if you&apos;ve found the site helpful!
            |                     
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                  | How do I use YASP?
              |                         
              #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                .panel-body
                  | Sign in through Steam, and we&apos;ll start tracking your matches and automatically parse the replays from that point on.  Note that probably only a few of your previous matches are listed.  If you remain an active user, we'll get your full match history.  We can get API data but cannot parse most full history matches, since most of the replays have expired.  We can only get a limited number of full histories per day, so please be patient.
            |                     
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                  | Why are my matches missing parse data?
              |                         
              #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                .panel-body
                  | There is usually a delay after the match (~10 minutes) while we wait for Valve to make the replay downloadable. After that, the replay might not be available, which happens occasionally (particularly in the SEA region). Alternatively, our parser couldn&apos;t process the match. We&apos;re always looking for bugs and re-parsing matches when we can.  Finally, we can't parse matches older than 7 days as the replay has expired.
            |                  
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                  | I signed in a while ago and just came back.  Why am I missing matches?
              |                         
              #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven')
                .panel-body
                  | To keep the load reasonable, we untrack users (stop automatically parsing matches) after a period of inactivity.  Each visit to the YASP site while signed in resets this period.  You can either manually request those matches by ID or wait for the next full history scan to "fill" the gap.
            |  
          .panel-left.col-sm-6
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseSeventeen', aria-expanded='false', aria-controls='collapseSeventeen')
                  | Where is my full history? / Why do you only have five matches for me?
              |                         
              #collapseSeventeen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeventeen')
                .panel-body
                  | Because of our limited resources, we can only track the games of players who use our site. Upon logging into YASP, we will begin tracking all your games.
                  | We also add you to a queue to get your full history of games. This can take a while depending on how large the queue is. On average this probably takes a week.
            |    
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                  | Why am I still missing some matches after getting my full history?
              |                         
              #collapseNine.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingNine')
                .panel-body
                  | The Valve API limits results to a maximum of 500, so we can only get 500 games per hero per player.
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseThirteen', aria-expanded='false', aria-controls='collapseThirteen')
                  | Can I use YASP in my own project?
              |                         
              #collapseThirteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThirteen')
                .panel-body
                  | YASP is licensed under the GNU GPLv3. This means you can use YASP in your project if your project is also free and open source. We also ask that you give us attribution in your project if you use our code.
            |                     
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseFourteen', aria-expanded='false', aria-controls='collapseFourteen')
                  | How do I contribute to YASP?
              |                         
              #collapseFourteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFourteen')
                .panel-body
                  | YASP is open source! Start a thread on GitHub if you&apos;d like to work on a feature. If you&apos;re not a developer, you can buy some Cheese.
            |                     
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseFifteen', aria-expanded='false', aria-controls='collapseFifteen')
                  | What is YASP built with?
              |                         
              #collapseFifteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFifteen')
                .panel-body
                  | YASP's main site and replay retriever are built with Node.js. We use MongoDB to store our data and Redis/Kue to manage our job queue. On the client side we use libraries including c3, cal-heatmap, heatmap.js, and DataTables. The parser is written in Java, using the clarity replay parsing library. The original project code was based on matchurls.
            .list-group
              h4.panel-title
                a.collapsed.list-group-item(data-toggle='collapse', data-parent='#accordion', href='#collapseSixteen', aria-expanded='false', aria-controls='collapseSixteen')
                  | Are we awesome?
              |                         
              #collapseSixteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSixteen')
                .panel-body
                  | Why, of course! Need you even ask?
