doctype html
html
  head
    title= title || "YASP - Dota 2 Replay Parsing and Statistics"
    meta(name="description", content="YASP: Another (Dota) Stats Page")
    meta(property="og:site_name", content="YASP - Another (Dota) Stats Page")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/public/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/public/images/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/public/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/public/images/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/public/images/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/public/images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/public/images/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/public/images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/public/images/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/public/images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/public/images/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/public/images/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/public/images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/public/images/manifest.json')
    link(rel='shortcut icon', href='/public/images/favicon.ico')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-TileImage', content='/public/images/mstile-144x144.png')
    meta(name='msapplication-config', content='/public/images/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    //yasp client side constants, could optimize bandwidth by not dumping everything
    script.
      var constants = !{JSON.stringify(sources)};

    //TODO: external deps, do we want to bundle this css/js as well?
    //can mostly be managed through bower if we want to do that, or can use latest from jsdelivr to stay up to date
    //bootstrap
    link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.min.css')
    script(type='text/javascript' src="//cdn.jsdelivr.net/bootstrap/latest/js/bootstrap.min.js")
    //font-awesome
    link(rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/latest/css/font-awesome.min.css")
    //jquery
    script(type='text/javascript' src="//cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    //datatables (jquery)
    script(type='text/javascript' src='//cdn.jsdelivr.net/jquery.datatables/latest/js/jquery.dataTables.min.js')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.datatables/latest/plugins/bootstrap/3/dataTables.bootstrap.css')
    script(type='text/javascript' src='//cdn.jsdelivr.net/jquery.datatables/latest/plugins/bootstrap/3/dataTables.bootstrap.js')
    //qtip2 (jquery)
    script(type='text/javascript' src='//cdn.jsdelivr.net/qtip2/latest/jquery.qtip.min.js')
    link(rel="stylesheet", href='//cdn.jsdelivr.net/qtip2/latest/jquery.qtip.min.css')
    //select2 (jquery)
    link(rel="stylesheet", href='//cdn.jsdelivr.net/select2/latest/select2.css')
    link(rel="stylesheet", href='//cdn.jsdelivr.net/select2/latest/select2-bootstrap.css')
    script(type='text/javascript' src='//cdn.jsdelivr.net/select2/latest/select2.min.js')
    //moment
    script(type='text/javascript' src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    //numeral
    script(type='text/javascript' src="//cdn.jsdelivr.net/numeraljs/latest/numeral.min.js")
    //d3
    script(type='text/javascript' src="//cdn.jsdelivr.net/d3js/latest/d3.min.js")
    //cal-heatmap (d3)
    script(type='text/javascript' src='//cdn.jsdelivr.net/cal-heatmap/latest/cal-heatmap.min.js')
    link(rel="stylesheet", href='//cdn.jsdelivr.net/cal-heatmap/latest/cal-heatmap.css')
    //c3 (d3) (very outdated on jsdelivr)
    script(type='text/javascript' src='//cdn.rawgit.com/masayuki0812/c3/0.4.10/c3.min.js')
    link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/0.4.10/c3.min.css')
    //heatmap.js (not on jsdelivr)
    script(type='text/javascript', src='//cdn.rawgit.com/pa7/heatmap.js/develop/build/heatmap.min.js')
  
    //-
      //yasp css
      link(rel='stylesheet', type='text/css', href="/public/css/navbar.css")
      link(rel='stylesheet', type='text/css', href="/public/css/flaticon.css")
      //home uses a separate stylesheet
      if home
        link(rel='stylesheet', type='text/css', href="/public/css/yasp_new.css")
      else
        link(rel='stylesheet', type='text/css', href="/public/css/yasp.css")
        if (!(user && user.light_theme))
          link(rel='stylesheet', type='text/css', href="/public/css/dark.css")
          
      //yasp utilities
      script(src="/public/js/utility.js")
      script(src="/public/js/tooltips.js")
      script(src="/public/js/formatHtml.js")
      
      //yasp code
      script(src="/public/js/activity.js")
      script(src="/public/js/charts.js")
      script(src="/public/js/map.js")
      script(src="/public/js/playerMatches.js")
      script(src="/public/js/playerTrendsTables.js")
      script(src="/public/js/histograms.js")
      script(src="/public/js/statusHandler.js")
      script(src="/public/js/ga.js")

    //compiled assets, currently bundling public/js and public/css, i.e., the above
    link(rel='stylesheet', href="/public/build/yasp.min.css")
    script(type='text/javascript', src="/public/build/yasp.min.js")

    block head
    block unsticky_content
    block sticky_content
    block footer_assets
    script.
          //by default, run formatting functions on all pages at page end
          tooltips();
          formatHtml();
    //-
      style
        include ../public/css/flaticon.css
      block stylesheets
        style
          include ../public/css/yasp.css
        if (!(user && user.light_theme))
          style
            include ../public/css/dark.css  