doctype html
html
  head
    - var default_title = "YASP - Dota 2 Replay Parsing and Statistics"
    title= title || default_title
    meta(name="description", content=default_title)
    meta(property="og:site_name", content=default_title)
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/public/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/public/images/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/public/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/public/images/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/public/images/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/public/images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/public/images/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/public/images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/public/images/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/public/images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/public/images/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/public/images/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/public/images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/public/images/manifest.json')
    link(rel='shortcut icon', href='/public/images/favicon.ico')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-TileImage', content='/public/images/mstile-144x144.png')
    meta(name='msapplication-config', content='/public/images/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    block head
    //constants for client side rendering (c3 graphs, etc)
    script.
      var constants = !{JSON.stringify({"player_colors": constants.player_colors})};
    
    //-
      link(rel='stylesheet' href="//cdn.rawgit.com/thomaspark/bootswatch/v3.3.5%2B4/darkly/bootstrap.css")
      link(rel='stylesheet', href="/public/css/flaticon.css")
      link(rel='stylesheet', href="/public/css/yasp.css")
      script(src="//code.jquery.com/jquery-2.1.4.min.js")
      script(src="//cdn.rawgit.com/mbostock/d3/master/d3.min.js")
      link(rel='stylesheet' href='//cdn.rawgit.com/brianreavis/selectize.js/v0.12.1/dist/css/selectize.bootstrap3.css')
      script(src="//cdn.rawgit.com/brianreavis/selectize.js/v0.12.1/dist/js/standalone/selectize.js")
      link(rel='stylesheet' href="//cdn.rawgit.com/wa0x6e/cal-heatmap/3.5.3/cal-heatmap.css")
      script(src="//cdn.rawgit.com/wa0x6e/cal-heatmap/3.5.3/cal-heatmap.min.js")
      link(rel='stylesheet' href='//cdn.rawgit.com/masayuki0812/c3/0.4.11-rc4/c3.min.css')
      script(src="//cdn.rawgit.com/masayuki0812/c3/0.4.11-rc4/c3.min.js")
      script(src="//cdn.rawgit.com/DataTables/DataTables/1.10.9/media/js/jquery.dataTables.min.js")
      link(rel='stylesheet' href="//cdn.rawgit.com/DataTables/DataTables/1.10.9/media/css/dataTables.bootstrap.css")
      script(src="//cdn.rawgit.com/DataTables/DataTables/1.10.9/media/js/dataTables.bootstrap.min.js")
      link(rel='stylesheet' href="//cdn.rawgit.com/yasp-dota/qTip2/2.2.2/dist/jquery.qtip.min.css")
      script(src="//cdn.rawgit.com/yasp-dota/qTip2/2.2.2/dist/jquery.qtip.min.js")
      script(src="//cdn.rawgit.com/pa7/heatmap.js/v2.0/build/heatmap.js")
      script(src="//cdn.rawgit.com/moment/moment/2.10.6/min/moment.min.js")
      script(src="//cdn.rawgit.com/adamwdraper/Numeral-js/1.5.3/min/numeral.min.js")
      script(src="//cdn.rawgit.com/timdream/wordcloud2.js/v1.0.1/src/wordcloud2.js")
      script(src="//cdn.rawgit.com/twbs/bootstrap/v3.3.5/dist/js/bootstrap.min.js")
      link(rel='stylesheet' href="//cdn.rawgit.com/FortAwesome/Font-Awesome/v4.4.0/css/font-awesome.min.css")
      link(rel='stylesheet' href='//cdn.rawgit.com/bontscho/dota2-minimap-hero-sprites/a1eae31806ea1ebd4b2eb2bd70a5e1acb428a891/assets/stylesheets/dota2minimapheroes.css')
      script(src="/public/js/tooltips.js")
      script(src="/public/js/formatHtml.js")
      script(src="/public/js/buildMap.js")
      script(src='/public/js/createHistogram.js')
      script(src='/public/js/createCalHeatmap.js')
      script(src='/public/js/ratingsChart.js')
      script(src='/public/js/generateCharts.js')
      script(src='/public/js/util.js')
      script(src='/public/js/resize.js')
      script(src='/public/js/ga.js')
    
    //-
    script(src="/public/build/yasp.min.js")

  body
    include navbar
    block page_content
    include footer

//stuff to include after page load, js
block footer_assets
script.
  //make footer sticky
  $('body').css('margin-bottom', $('.footer').height());
  //by default, run formatting functions on all pages at page end
  tooltips();
  formatHtml();
