extend base_layout

block page_content
  .container
    .text-center
      header
        h1 In-Game Stats with
        a(href='https://dota2.becomethegamer.com', onclick="ga('send', 'event', 'BTG', 'click', 'logo');")
          img(src='/public/images/btg_logo.png', alt='Become The Gamer', style="width:300px;")
      .row
        .col-md-6
          h3 Stats for all phases of your game
          p #{tooltips.app_name} gives you in-depth game analysis. <br> Become The Gamer brings it into your game.
        .col-md-6
          h3: a(href='https://dota2.becomethegamer.com/', onclick="ga('send', 'event', 'BTG', 'click', 'button1');")
            button.btn.btn-primary.btn-lg Get It Now
      hr
      .row
        blockquote 
          p Our goal is to provide value to players throughout the <strong>full game cycle</strong>, 
            | lobby—drafting—in-game—post-game... we’ll create a smooth cycle for users to follow between their matches and 
            | post-game analysis.
          small BecomeTheGamer
      hr
      .row
        h2 In-Game Drafting Analysis
        p.lead See how your picks work together, and how they fare against the enemy.
        img(src='/public/images/btg_screenshot.png', alt='Become The Gamer In-Game Overlay', style="width:100%;")
      hr
      .row
        .col-md-4
          h3 Dynamic Drafting
          span.fa.fa-crosshairs.fa-5x
          p.text(style="margin-top:1em;") Find the best heroes to maximize your wins. <br> All in-game.
        .col-md-4
          h3 All Phases
          span.fa.fa-refresh.fa-5x
          p.text(style="margin-top:1em;") After your match, get a link to detailed match data directly from the client.
        .col-md-4
          h3 Support The Project
          span.fa.fa-heart-o.fa-5x
          p.text(style="margin-top:1em;") This sponsorship helps subsidize server costs.
      .row
        h3 Win more today. Become The Gamer.
        a(href='https://dota2.becomethegamer.com/', onclick="ga('send', 'event', 'BTG', 'click', 'button2');")
          button.btn.btn-primary.btn-lg Get It Now
      hr