extend layout
  
block content
  .page-header.text-center
    if sub
      h1(style='font-weight: 700;') You're canceling your subscription.
      p.lead We appreciated your support.
      form.form-inline(method="post", style="display:inline-block;")
        button.btn.btn-warning(type="submit") Stop Supporting YASP
    else
      h3 I don't think you should be here...