extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') Maybe next time?
    p.lead Buy some Cheese. Help pay for servers.
    a(href="/carry")
      button.btn.btn-warning BUY SOME CHEESE