extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') You're buying Cheese!
    p.lead You wanted #{cheeseAmount}, right? This will cost $#{cheeseAmount}.
    a(href="/cancel", style="display:inline-block; margin-right:2em;")
      button.btn.btn-primary Nevermind...
    form.form-inline(method="post", style="display:inline-block;")
      button.btn.btn-warning(type="submit") You bet!
    p.text(style="margin-top:1em;")
      if user
        strong You are logged in! Your contribution will be public. Logout if you wish to remain anonymous.
      else
        strong You aren't logged in! This contribution will be anonymous, and the Cheese will not be attached to an account.