extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') You're buying Cheese!
    p.lead You wanted #{cheeseAmount}, right? This will cost $#{cheeseAmount}.
    a(href="/cancel", style="display:inline-block; margin-right:2em;")
      button.btn.btn-primary Nevermind...
    form.form-inline(method="post", style="display:inline-block;")
      button.btn.btn-warning(type="submit") You bet!
block footer_assets
   link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")