//external, can mostly be managed through bower if we want to do that
//or can use latest from jsdelivr to stay up to date
//bootstrap
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
//font-awesome
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
//jquery
script(type='text/javascript' src="//cdn.jsdelivr.net/jquery/latest/jquery.min.js")
//datatables
script(type='text/javascript' src='//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js')
//datatables bootstrap plugin
link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css')
script(type='text/javascript' src='//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js')
//qtip2
script(type='text/javascript' src='//cdn.jsdelivr.net/qtip2/latest/jquery.qtip.min.js')
link(rel="stylesheet", href='//cdn.jsdelivr.net/qtip2/latest/jquery.qtip.min.css')
//select2
link(rel="stylesheet", href='//cdn.jsdelivr.net/select2/latest/select2.css')
link(rel="stylesheet", href='//cdn.jsdelivr.net/select2/latest/select2-bootstrap.css')
script(type='text/javascript' src='//cdn.jsdelivr.net/select2/latest/select2.min.js')
//d3 (not needed in bower since c3 will include it, but still needs to be included in bundle, since we can't just bundle *)
script(type='text/javascript' src="//cdn.jsdelivr.net/d3js/latest/d3.min.js")
//c3
script(type='text/javascript' src='//cdn.rawgit.com/masayuki0812/c3/0.4.10/c3.min.js')
link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/0.4.10/c3.min.css')
//cal-heatmap
script(type='text/javascript' src='//cdn.jsdelivr.net/cal-heatmap/latest/cal-heatmap.min.js')
link(rel="stylesheet", href='//cdn.jsdelivr.net/cal-heatmap/latest/cal-heatmap.css')
//moment
script(type='text/javascript' src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js")
//numeral
script(type='text/javascript' src="//cdn.jsdelivr.net/numeraljs/latest/numeral.min.js")
//heatmap.js
script(type='text/javascript', src='//cdn.rawgit.com/pa7/heatmap.js/develop/build/heatmap.min.js')

//bower_components
//bootstrap js
script(src="/bower_components/bootstrap/js/transition.js")
script(src="/bower_components/bootstrap/js/collapse.js")
  