extend layout

block content
  #about-top.gallery.faq
    .row
      .col-md-6.col-md-offset-3.text-center
        h1 FAQ             
        h3 Where all your questions are answered.
        img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
      br

    .container
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        each i in [0, 1]
          .col-sm-6
            each q, j in questions
              if j >= i*questions.length/2 && j < (i+1)*questions.length/2
                .list-group
                  h4.panel-title
                    a.list-group-item(data-toggle="collapse", href="##{j}", aria-expanded="false") !{q.title}
                  .panel-body(id=j).collapse !{q.content}