footer.mdl-mega-footer
  .mdl-mega-footer__top-section
    .text-center.social-media
      button.mdl-mega-footer__social-btn.mdl-button.mdl-js-button.mdl-button--icon
        a(target="_blank", href="https://twitter.com/yasp_dota", title="Twitter"): i.fa.fa-twitter
      button.mdl-mega-footer__social-btn.mdl-button.mdl-js-button.mdl-button--icon
        a(target="_blank", href="https://github.com/yasp-dota/yasp", title="Github"): i.fa.fa-github
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading About
      p.
        YASP is a community driven effort to bring advanced Dota 2 
        statistics freely to everyone.
    
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Support
      ul.mdl-mega-footer__link-list
        li.
          We're funded purely through the good will of our users and the Dota 2 community.
          Help us out by purchasing some #[a(target="_blank", href='/carry') cheese].

    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Attribution
      ul.mdl-mega-footer__link-list
        li Powered by <a href='http://store.steampowered.com/'>Steam</a>
        li Dota 2 and all Dota 2 related images belong to Valve
        li Match Parsing by <a href='https://github.com/skadistats/clarity'>Clarity</a>
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading And More
      ul.mdl-mega-footer__link-list
        li Wallpapers by the talented <a href="http://dcneil.deviantart.com/">dcneil</a> and <a href="http://css101.deviantart.com/">css101</a>.
        li Thanks to <a href='https://twitter.com/medowar0'>Medowar</a> for additional servers
        li Cheese icon made by <a href="http://www.belcu.com">Belc</a> from <a href="http://www.flaticon.com">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>

  .mdl-mega-footer__bottom-section
    .mdl-logo YASP
    ul.mdl-mega-footer__link-list
      li &copy; #{moment().get('year')}
      li #[a(target="_blank", href='http://goo.gl/forms/NgwhEqx4lt') Comments, suggestions?]