style.
  .footer {
    background-color: #BBF0FD;
    width: 100%;
    padding: 1.5em;
    margin-top: 2em;
  }
.footer
  .container
    p Dota 2 and all that stuff belongs to 
      a(href='http://store.steampowered.com/') Valve
      | . Built on Valve's WebAPI. Thanks Valve!
    p Match parsing powered by 
      a(href='https://github.com/skadistats/clarity') clarity
      |.