style.
  .navbar-default {
    background-color: #BBF0FD;
  }
nav.navbar.navbar-default
  .container-fluid
    a(href='/', class = 'navbar-brand') YASP
    .navbar-header
      ul.nav.navbar-nav
        li: a(href='/todo') To Do