extend layout

block content

append footer_assets
  link(rel='stylesheet', type='text/css', href="/public/css/yasp_new.css")

  script(src="/public/js/animatedNabar.js")
  script(src="/bower_components/webcomponentsjs/webcomponents.js")
