extend base_layout
append head
  script(src="/bower_components/webcomponentsjs/webcomponents.js")
  // link(rel="import" href="bower_components/core-icons/core-icons.html")
  // link(rel="import" href="bower_components/paper-fab/paper-fab.html")
  // link(rel="import" href="bower_components/core-tooltip/core-tooltip.html")
  link(rel="import" href="public/paper-fab-menu.html")
  
block stylesheets
  link(rel='stylesheet', type='text/css', href="/public/css/yasp_new.css")

block unsticky_content
  body
    include home_navbar
    include home_content
    include home_footer
    
append footer_assets
  script(src="/public/js/scroll.js")
  script(src="/public/js/animatedNavbar.js")
  script(src="/public/js/polymerFabs.js")
  include fake_data
  script.
    c3.generate({
          bindto: "#chart-gold",
          data: {
              x: 'time',
              columns: graphData.gold,
              type: "spline"
          },
          axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                      format: function(x) {
                          return moment().startOf('day').seconds(x).format("H:mm");
                      }
                  },
                  label: "Game Time (minutes)"
              },
              y: {
                  label: "Gold"
              }
          }
      });
    var heatmap = h337.create({
        container: document.getElementById('map'),
          radius: 40
      });
      $(".mapHero").on("mouseover", function(){
        heatmap.setData({data: data[Number($(this).attr('id'))].map(function(p){return {x:p[0]*(500/127),y:p[1]*(500/127)}})});
        heatmap.repaint();
      })