extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') YASP 
      small YASP: Another Stats Page
      
  if user
   .row(style="margin-bottom:2em;")
    .col-md-1
      img(src='#{user.avatarmedium}').img-thumbnail
    .col-md-4
      h2
        | Welcome, #{user.personaname}!
    .col-md-7
      .alert.alert-success 
        | Now that you're signed in, we'll automatically parse the replays of matches you play.
        br
        | Visit YASP regularly while signed in to remain a tracked user.
   .row
    .col-md-4
     h3 Preferences
     .checkbox
       label
        if user.dark_theme
          input#dark(type="checkbox", checked="true")
        else
          input#dark(type="checkbox")
        | Use Dark Theme
    .col-md-4
      h3 Info
      p Last Full History Scan: 
        span= user.full_history_time || "Never"
    .col-md-4
      h3 Actions
      p: a.btn.btn-success(href="/players/"+user.account_id) My Profile &raquo;
      p: a.btn.btn-primary(href="/upload") Upload a Replay &raquo;
      p: a.btn.btn-warning(href="/about") Learn about YASP &raquo;

  else
    .text-center
      p.lead Free Dota 2 replay parsing.
      p
        a(href='/login')
          img(src='http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png')
      small Check out an 
        a(href="/matches/1191329057/details") example.

 