extend layout

block head
  meta(name="description", content="YASP: Another (Dota) Stats Page")
  
block content
  .page-header
    h1(style='font-weight: 700;') YASP 
      small YASP: Another Stats Page
      a.pull-right.twitter-follow-button(href='https://twitter.com/yasp_dota', data-show-count='false', data-size='large') Follow @yasp_dota
  if user
   .row
    div.col-md-1
      img(src='#{user.avatarmedium}').img-thumbnail
    div.col-md-4
      h2
        | Welcome back, #{user.personaname}!
    p: a(href='/logout') Logout
  else
    p.lead
     | As the name suggests, we're yet <em>another</em> Dota 2 stats site.
    p.lead <strong>But we're special!</strong> (At least we think we are.)
    p.lead We'll download the replays of your games and parse them for even more stats, all for free!
    p.lead Just sign in through Steam and we'll start tracking your matches:
    p
      a(href='/login')
        img(src='http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png')
    p.lead Follow us on Twitter for updates. Expect some downtime while we iron things out. Sowwies.
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
