extend base_layout
//only display banners on main pages (not home)
block banners
  if banner_msg
   .alert.alert-success.text-center(role="alert") !{banner_msg}
  if api_down
   .alert.alert-warning.text-center(role="alert") !{constants.api_msg}
  if user && user.track===0
     .alert.alert-warning(role="alert") !{constants.untracked_msg}
  if login_req_msg
   .alert.alert-warning(role="alert") Please log in to access the #{login_req_msg} page
  if !error
   include ads/leaderboard

//
block sticky_content
  body.frame(style="margin-top:70px;")
    include navbar
    .sticky_footer_row
    .sticky_footer_row.expand
      .container
        block banners
        block content
    .sticky_footer_row
      include footer
