extend base_layout
include mixins/ads

block page_content
  .container
    +ad("banner1")
    if banner_msg
      .alert.alert-success.text-center(role="alert") !{banner_msg}
    block content
    <iframe style="border: none; margin:0px; width:100%; height:300px;" src="https://www.stanza.co/@dota2?embed=true&banner=true&site=opendota"></iframe>
    +ad("banner3")