extend base_layout
include mixins/ads

block sticky_content
  body.frame(style="margin-top:70px;")
    include navbar
    .sticky_footer_row
    .sticky_footer_row.expand
      .container
        if banner_msg
          .alert.alert-success.text-center(role="alert") !{banner_msg}
        +ad("banner1")
        block content
        +ad("banner3")
    .sticky_footer_row
      include footer
  script.
      //check adblocker
      window.onload = function(){
        setTimeout(function() { 
          // We are targeting the first banner ad of AdSense
          var ad = document.querySelector("ins.adsbygoogle");
          
          // If the ad contains no innerHTML, ad blockers are at work
          if (ad && ad.innerHTML.replace(/\s/g, "").length == 0) {
            // Since ad blocks hide ads using CSS too
            ad.style.cssText = 'display:block !important'; 
            // You can put any text, image or even IFRAME tags here
            ad.innerHTML = "<div class='alert alert-info text-center' role='alert'>Blocking ads?  Please consider disabling your ad blocker or donating to help keep YASP running.</div>";
          }
        }, 2000); // The ad blocker check is performed 2 seconds after the page load 
      }; 
