doctype html
html
  head
    title YASP
    meta(property="og:site_name", content="YASP - Another (Dota) Stats Page")
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js')
    script(type='text/javascript' src='//code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js')
    script(type='text/javascript' src='//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')
    script(type='text/javascript' src='//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.js')
    script(type="text/javascript" src='//cdn.jsdelivr.net/cal-heatmap/3.4.0/cal-heatmap.js')
    script(type='text/javascript' src='/public/js/utility.js')
    script(type='text/javascript' src='/public/js/ga.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    link(rel="stylesheet", href='//cdn.jsdelivr.net/cal-heatmap/3.4.0/cal-heatmap.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.css')
    link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')  
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700,400italic')
    link(rel='stylesheet', href='/public/css/yasp.css')
    
    block head
    
  body
     nav.navbar.navbar-default
      .container
        .navbar-header
          a(href='/', class = 'navbar-brand') YASP
        ul.nav.navbar-nav
          li
            a(href="/matches") Matches
          li
            a(href="/players") Players
        if (user)
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/players/"+user.account_id)=user.personaname
     div.container
       include ads/leaderboard
       block content
       
     .footer(style="background-color: #BBF0FD;width: 100%;padding: 1.5em;margin-top: 2em;")
      .container
       p Dota 2, Dota 2 related images, and all that other stuff belongs to 
        a(href='http://store.steampowered.com/') Valve
        |.
       p Built on Valve's WebAPI. You could say this is 
         a(href='http://store.steampowered.com/') Powered by Steam
         |. Thanks Valve!
       p Match parsing powered by 
        a(href='https://github.com/skadistats/clarity') clarity
        |.
       p Source code can be found on 
        a(href='https://github.com/albertcui/YASP') GitHub
        |.
