doctype html
html
  head
    title= title || "YASP"
    meta(property="og:site_name", content="YASP - Another (Dota) Stats Page")
    link(rel='apple-touch-icon', sizes='57x57', href='/public/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/public/images/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/public/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/public/images/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/public/images/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/public/images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/public/images/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/public/images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/public/images/apple-touch-icon-180x180.png')
    link(rel='shortcut icon', href='/public/images/favicon.ico')
    link(rel='icon', type='image/png', href='/public/images/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/public/images/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/public/images/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/public/images/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/public/images/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#00aba9')
    meta(name='msapplication-TileImage', content='/public/images/mstile-144x144.png')
    meta(name='msapplication-config', content='/public/images/browserconfig.xml')
    link(rel="stylesheet", href='//cdn.jsdelivr.net/qtip2/latest/jquery.qtip.min.css')
    link(rel="stylesheet", href='//cdn.rawgit.com/kamisama/cal-heatmap/master/cal-heatmap.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/master/c3.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')  
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700,400italic')
    link(rel='stylesheet', href='/public/css/yasp.css')
    
    link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css')
    
    script(src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(src='//cdn.rawgit.com/adamwdraper/Numeral-js/master/numeral.js')
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js')
    script(src='//cdn.jsdelivr.net/d3js/latest/d3.min.js')
    script(src='//cdn.rawgit.com/masayuki0812/c3/master/c3.js') 
    script(src='//cdn.rawgit.com/kamisama/cal-heatmap/master/cal-heatmap.js')
    script(src='//cdn.jsdelivr.net/qtip2/latest/jquery.qtip.js')
    script(src='/public/js/yasp.js')
    script(src='/public/js/ga.js')
    
    script(type='text/javascript' src='//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')
    script(type='text/javascript' src='//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js')

    block head
    
  body
     nav.navbar.navbar-default
      .container
        .navbar-header
          a(href='/', class = 'navbar-brand') YASP
        ul.nav.navbar-nav
          li
            a(href="/matches") Matches
          li
            a(href="/players") Players
        if (user)
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/players/"+user.account_id)=user.personaname
     div.container
       include ads/leaderboard
       block content
       
     .footer(style="background-color: #BBF0FD;width: 100%;padding: 1.5em;margin-top: 2em;")
      .container
       p Dota 2, Dota 2 related images, and all that other stuff belongs to 
        a(href='http://store.steampowered.com/') Valve
        |.
       p Built on Valve's WebAPI. You could say this is 
         a(href='http://store.steampowered.com/') Powered by Steam
         |. Thanks Valve!
       p Match parsing powered by 
        a(href='https://github.com/skadistats/clarity') clarity
        |.
       p Source code can be found on 
        a(href='https://github.com/albertcui/YASP') GitHub
        |.
