doctype html
html
  head
    title YASP
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')  
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic')
    style.
      * {
        font-family: 'Lato', sans-serif;
      }
      .navbar-default {
      background-color: #BBF0FD;
      }
      .hero img {width: 50px;}
      .items {white-space:nowrap;}
      .items img {width: 35px;}
    block head
    
  body
     nav.navbar.navbar-default
      .container
        .navbar-header
          a(href='/', class = 'navbar-brand') YASP
        ul.nav.navbar-nav
          li
            a(href="/matches") Matches
          li
            a(href="/players") Players

     div.container
       block content
       
     .footer(style="background-color: #BBF0FD;width: 100%;padding: 1.5em;margin-top: 2em;")
      .container
       p Dota 2 and all that stuff belongs to 
        a(href='http://store.steampowered.com/') Valve
        | . Built on Valve's WebAPI. Thanks Valve!
       p Match parsing powered by 
        a(href='https://github.com/skadistats/clarity') clarity
        |.
       p Source code can be found on 
        a(href='https://github.com/albertcui/YASP') GitHub
        |.