doctype html
html
  head
    title= title || "YASP"
    meta(property="og:site_name", content="YASP - Another (Dota) Stats Page")
    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/public/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/public/images/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/public/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/public/images/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/public/images/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/public/images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/public/images/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/public/images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/public/images/apple-touch-icon-180x180.png')
    link(rel='shortcut icon', href='/public/images/favicon.ico')
    link(rel='icon', type='image/png', href='/public/images/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/public/images/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/public/images/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/public/images/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/public/images/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#00aba9')
    meta(name='msapplication-TileImage', content='/public/images/mstile-144x144.png')
    meta(name='msapplication-config', content='/public/images/browserconfig.xml')
    
    //- Stylesheets
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')  
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700,400italic')
    style
      include ../public/css/yasp.css
      
    //- JS
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script
      include ../public/js/ga.js
    
    block head
    
  body
     nav.navbar.navbar-default
      .container
        .navbar-header
          a(href='/', class = 'navbar-brand') YASP
        ul.nav.navbar-nav
          li
            a(href="/matches") Matches
          li
            a(href="/players") Players
        if (user)
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/players/"+user.account_id)=user.personaname
     .container
       if !error
        include ads/leaderboard
       block content
       
     footer.footer(style="background-color: #BBF0FD; color: #777;\
                    width: 100%; padding: 1.5em; margin-top: 2em;\
                    font-size: .8em;")
      .container
        .row
          .col-md-4.text-center
           p.
            Dota 2, Dota 2 related images, and all that other stuff belongs to 
            <a href='http://store.steampowered.com/', target="_blank"> Valve</a>. <br>
            We use Google Adwords and Analytics. They might be using some 
            <a href='https://support.google.com/adsense/answer/1348695?hl=en&ref_topic=1271507', target="_blank">
            cookies</a>.
            We also use cookies for sessions.
          .col-md-4.text-center(style="font-size: 1.2em;")
            p.
              &copy; YASP 2015. If that means anything. <br>
              Built from apathy, boredom, and procrastination. <br>
              Comments, suggestions? 
              <a href='http://goo.gl/forms/NgwhEqx4lt', target="_blank"> Fill this out</a>.
              Thanks!
          .col-md-4.text-center
           p.
             <a href='http://store.steampowered.com/', target="_blank"> Powered by Steam</a>. Thanks Valve! <br>
             Match parsing powered by
             <a href='https://github.com/skadistats/clarity', target="_blank"> clarity</a>. <br>
             Source code can be found on 
             <a href='https://github.com/albertcui/YASP', target="_blank"> GitHub</a>.
      block footer_assets