extend base_layout

block banners
  if banner_msg
   .alert.alert-success(role="alert") !{banner_msg}
  if api_down
   .alert.alert-warning.text-center(role="alert") !{constants.api_msg}
  if user && user.track===0
     .alert.alert-warning(role="alert") !{constants.untracked_msg}
  if login_req_msg
   .alert.alert-warning(role="alert") Please log in to access the #{login_req_msg} page
  if !error
   include ads/leaderboard