extend match
    
append content 
    .row
        if match.parsed_data
          .row
            .col-md-12
              h3 Radiant Advantage
              #chart-diff
          .row
            include ads/leaderboard_2
          .row
            .col-md-12
              h3 Gold
              #chart-gold
          .row
            include ads/leaderboard_3
          .row
            .col-md-12
              h3 XP
              #chart-xp
            .col-md-12
              h3 LH
              #chart-lh
        else
          h1 This match has no parsed data
          
block footer_assets
  link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/master/c3.css')
  script.
    var graphData = !{JSON.stringify(match.graphData)}
    generateCharts(graphData);