extend match
  
append content
  .row
    .col-md-12  
  if match.parsed_data          
    .row
      .col-md-7
        h3 Chat
        table.table.table-hover.table-responsive
          tr
            th Time
            th Slot
            th Prefix
            th Message
          - each message in match.parsed_data.chat
            tr
              td.format-seconds= message.time
              td= message.slot
              td= message.prefix 
              td= message.text
      .col-md-5
        style .skyscraper {margin-top: 2em;}
        include ads/skyscraper
      script.
        $('.format').each(function(){
          $(this).text(formatSeconds($(this).text()))
        })
  else
    h1 This match has no parsed data!
    
append footer_assets
  script
    include ../public/js/yasp.js