extend match

append head
  script.
    var data = !{JSON.stringify(data)}
append content 
    .row
        if match.parsed_data
          .col-md-12
            h3 Radiant Advantage
            #chart-diff
          .col-md-12
            h3 Gold
            #chart-gold
          .col-md-12
            h3 XP
            #chart-xp
          .col-md-12
            h3 LH
            #chart-lh
          script(async, src='/public/js/chart.js')
        else
          h1 This match has no parsed data!