extend layout

block content
  .row
    .col-md-12
      h1 All Matches
      include query
      .margin-bottom
        table.table#matches
      .margin-bottom
        include ads/leaderboard_2
  
append footer_assets
  script.
    playerMatches();
  style .leaderboard { margin-top: 1.5em;}
