extend layout

append head
  include assets/datatables
  script.
    var parse_status = !{JSON.stringify(constants.parse_status)},
        regions = !{JSON.stringify(constants.regions)},
        modes = !{JSON.stringify(constants.modes)}
    
block content
  h3 Recent Matches
  table.table#table
  script(src='/public/js/match_table.js')
  include ads/leaderboard_2