extend match_base

append head
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.css')
  link(rel='stylesheet', href='../../public/css/match.css')
  script.
    var match = !{JSON.stringify(match)}
    var constants = !{JSON.stringify(constants)}
     
append content 
    .row
        if match.parsed_data
          .col-md-12
            h3 Radiant Advantage
            #chart-diff
          .col-md-12
            h3 Gold
            #chart-gold
          .col-md-12
            h3 XP
            #chart-xp
          .col-md-12
            h3 LH
            #chart-lh
          script(async, type='text/javascript', src='../../public/js/chart.js')
        else
          h1 This match has no parsed data!