extend layout

block content
  .row
    .col-md-12
      h1 Matches
      table.table#table
      include ads/leaderboard_2
  
append footer_assets
  include assets/datatables
  script.
    matchTable();
  style .leaderboard { margin-top: 1.5em;}
