extend match
    
block match_content 
    .row
        if match.parsed_data
          .row
            .col-md-12
              h3 Radiant Advantage
              #chart-diff
          hr
          .row
            include ads/leaderboard_2
          hr
          .row
            .col-md-12
              h3 Gold
              #chart-gold
          hr
          .row
            include ads/leaderboard_3
          hr
          .row
            .col-md-12
              h3 XP
              #chart-xp
              hr
              h3 LH
              #chart-lh
              hr
              h3 Income Sources
              #chart-gold-breakdown
        else
          h1 This match has no parsed data
          
append footer_assets
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);