extend match

append head
  //- C3 assets
  link(rel='stylesheet', href='//cdn.rawgit.com/masayuki0812/c3/master/c3.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js')
  script(src='//cdn.jsdelivr.net/d3js/latest/d3.min.js')
  script(src='//cdn.rawgit.com/masayuki0812/c3/master/c3.js')
  script.
    var data = !{JSON.stringify(data)}
    
append content 
    .row
        if match.parsed_data
          .col-md-12
            h3 Radiant Advantage
            #chart-diff
          include ads/leaderboard_2
          .col-md-12
            h3 Gold
            #chart-gold
          include ads/leaderboard_3
          .col-md-12
            h3 XP
            #chart-xp
          .col-md-12
            h3 LH
            #chart-lh
          script(async, src='/public/js/chart.js')
        else
          h1 This match has no parsed data!