extend layout

block content
  h3 Recent Matches
  table.table#table
  include ads/leaderboard_2
  
block footer_assets
  include assets/datatables
  script.
    matchTable();
  style .leaderboard { margin-top: 1.5em;}
