extend match

append content
  .row
    .col-md-12
      if match.parsed_data
        if match.parsed_data.version >=4
          .row
            .col-md-12
              h2 Positions
              table.table.table-hover.table-responsive
                tr
                  th Hero
                  - var bucket = 60
                  - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                    th= i/60+"'"
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  - var parsedPlayer = match.parsed_data.players[ind]
                  tr(class = player.player_slot<64 ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id              
                    - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                      td
                        each entry, j in parsedPlayer.positions
                          if match.parsed_data.times[j] < i && match.parsed_data.times[j] >= i-bucket
                            =entry
            .row
              .col-md-12
                #map.mapContainer
                  img.map(src='https://raw.githubusercontent.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
            .row
              .col-md-12
                include ads/leaderboard_3
      else
        h1 This match has no parsed data!

append footer_assets
  script(src="https://rawgit.com/pa7/heatmap.js/develop/build/heatmap.min.js")
  script.
    var heatmap = h337.create({
        container: document.getElementById('map'),
          radius: 50
      });
      var data = !{JSON.stringify(match.parsed_data.players[0].positions.map(function(p){return {x:(p[0]-60)*(600/128),y:(128-(p[1]-60))*(600/128)}}))}
      heatmap.setData({max: 198, min: 70, data: data})
      heatmap.repaint();