script.
    var ratings = !{JSON.stringify(ratings)};
    var times = ratings.map(function(r){return new Date(r.time);})
    var solo = ratings.map(function(r){return r.soloCompetitiveRank;});
    var party = ratings.map(function(r){return r.competitiveRank;});

    c3.generate({
    bindto: "#ratings",
    data: {
        x: 'x',
        columns: [
        ['x'].concat(times),
        ['Solo'].concat(solo),
        ['Party'].concat(party)
        ],
        type:"line"
    },
    axis: {
        x: {
            type: 'timeseries',
            label: 'Date',
            tick: {
                format: '%Y-%m-%d',
                count: 10
            }
        },
        y: {
            label: 'Rating'
        }
    }
    });
