extend layout

block content
  h1 Match Making Stats
  .row
    .col-md-12
      
      #mm-graph

append footer_assets
  script.
    var data = !{JSON.stringify(result)};
  script.
    var columns = [];
    for (var key in data) {
      var arr = data[key];
      arr.unshift(key);
      columns.push(arr);
    }
    
    c3.generate({
      bindto: document.getElementById("mm-graph"),
      data: {
        x: 'x',
        columns: columns
      },
      axis: {
        x: {
          label: "Time ago",
          tick: {
            count: 60,
            format: function(x) {
              return moment(x).fromNow();
            }
          }
        }
      }
    })