.container
  .navbar(style="margin-bottom:0px")
    .navbar-header
      a.navbar-brand(href='/')
        strong.theme-blue YASP
        a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li: a(href="/request") Request
        //li: a(href='/professional') Professional
        li: a(href='/mmstats') MM Stats
        li: a(href='/faq') FAQ
        li: a(href='/blog') Blog
        li: a(href='/status') Status
        li: a(href='/carry') Carry

      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href="/players/"+user.account_id) Profile
          li: a(href="/logout") Logout
        else
          li: a(href="/login") Login
