.container
  .navbar-header
    a.navbar-brand(href='/')
      strong.theme-blue YASP  
      a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar        
        span.icon-bar        
        span.icon-bar 
  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav
      if user
        li
          a(href="/players/"+user.account_id)=user.personaname
      else
        li
          a(href="/login") Login
      li
        a(href='/matches') Matches
      li
        a(href='/ratings') Ratings
      li
        a(href="/request") Request
      li
        a(href='/post/about-yasp') About
      li
        a(href='/page/1') Blog      
      li
        a(href='/carry') Help Carry!
      li
        a(href='/status') Status
    ul.nav.navbar-nav.navbar-right
      if user
        li
          a(href="/logout") Logout
