doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    body
        div.container
            h1.text-center= title
            hr
            div.row
                div.span2
                    ul.nav.nav-list
                        li.nav-header

                        li.nav-header matchurls
                        li
                            small Stick a matchid in and get the replay URL. Ez.
                        li
                            hr
                        li.nav-header
                            :markdown
                                © [RJ](https://rjackson.me), PROBABLY
                div.span10.text-center
                    p Sorry!  My back-end isn't ready for you yet. Try again in 5 minutes.