extend layout
block content
        h3 Tracked Players
        .row
            table.table
              tr
                th Name
              each player in players
                tr
                  td
                    a(href='/player/#{player.account_id}')
                      =player.display_name || player.account_id