extend layout
    
block content
  .row
    if player.avatarmedium
      .col-xs-3.col-sm-2.col-md-1
        img(src='#{player.avatarmedium}').img-thumbnail
    .col-md-5
      h1(style='font-weight: 700;')=player.personaname || player.account_id
  .row(style="margin-top:1em;")
    .col-md-12
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key == 'index' ? "" : key))= val.name
  block playercontent
  .row
    .col-md-12
      include ads/leaderboard_3
block footer_assets
  include assets/datatables
  script.
    var account_id = #{player.account_id};
    playerTables();