extend player

block playercontent
  h3 Matches
  table.table#matches
  
append footer_assets
  script.
    var matches = !{JSON.stringify(player.matches.map(function(m){delete m.players[0].ability_upgrades;return m}))}
    playerMatches(matches);