extend layout
    
block content
  .row.match-top
    .col-md-1
      img(src='#{player.avatarmedium}').img-thumbnail
    .col-md-10
      h1(style='font-weight: 700;')= player.personaname || player.account_id
    .col-md-1
      if player.cheese
        i.flaticon-1.medium-cheese(style="display:inline-block")
        div.text-right x#{player.cheese}
  .row(style="margin-top:1em;")
    .col-md-12
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key == 'index' ? "" : key))= val.name
  block playercontent
  hr
  .row
    .col-md-12
      include ads/leaderboard_3
append footer_assets
  include assets/datatables