extend layout
    
block content
  .row
    if player.avatarmedium
      .col-xs-3.col-sm-2.col-md-1(style="margin-top:2em;")
        img(src='#{player.avatarmedium}').img-thumbnail
    .col-md-5
      h1(style='font-weight: 700;')=player.personaname || player.account_id
    .col-md-5
      .alert.alert-warning(role="alert") Only matches played since signup will be parsed  
  .row
    .col-md-12
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key == 'index' ? "" : key))= val.name
  block playercontent
  
block footer_assets
  include assets/datatables
  script.
    playerTables();
    