extend layout

include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header

block content
  .row
    .col-md-12.text-center
      h1(style='font-weight: 700;') Grow your e-peen with YASP++
      p.lead YASP++ will make you smarter. Faster. Sexier.
      .row
        .col-md-2.col-md-offset-3
          a(href='/post/yasp-purchase').btn.btn-default Upgrade to <large>++</large>
        .col-md-5
          p Only $3.22/month or $32.20/year
          p Or pay with hats! 120 hats/month or 1337 hats/year.
      .row
        p <em>For less than the price of a throw, you could be one of the cool kids for once.</em>
  hr
  .row
    .col-md-12
      .row.text-center
        h2 Hyperopia gives you vision of future match details
        p Hyperopia analyzes the future, so you can win without playing.
        hr
      .row
        .col-md-9(style="font-size:1.1em; line-height:1.75em;")
          p.
            Here at YASP, we've always been known for providing the the most detailed stats
            we can on games you've played -- in the past. Today, we're bringing you the stats of
            the future. Literally. Powered by YASP's advance machine learning and our newly
            imported crystal balls, YASP brings you the best of tomorrow, today.
          h3.text-center: em Feed tomorrow today.
        .col-md-3
          blockquote.blockquote-reverse "Ever since YASP++, I'm actually 8000 MMR now."
            small Average /r/dota2 player
      .row.text-center
        .col-md-3
          h4(style='margin-top:50%;') Detailed Game Play Breakdowns...
          h4 ... from the Future
          p Build of the future: dual Basilius (Basilii?)
        .col-md-9
          include match/timelines_purchases_table
      .row.text-center
        .col-md-9
          h3 Gold
          #chart-gold
        .col-md-3
          h4(style='margin-top:50%;') Great Scott!
          h4 When Hyperopia hits 88 games, you're gonna see some serious stuff.
  .row(style='margin-top:1em;')
    .col-md-3
      p.
        Who needs wards to guess where your opponents are? With Hyperopia,
        your days of wasting gold as a support are over and you can instead focus on the
        Agh's that you will definitely finish. How do you know? Hyperopia.
    .col-md-3
      p.
        Why wait for your teammates to make mistakes before you mock them?
        With Hyperopia, you can be sure to have all your one-liners prepared as
        they get they get triple-killed because you didn't call missing.
    .col-md-3
      p.
        Ever call "GG" in the first 5 minutes of gameplay? With Hyperopia,
        you'll know your excellent predictions will be right every time.
    .col-md-3
      p Know ahead of time to go full retard.
  hr
  .row
    .col-md-12
      h3.text-center YASP++ Comparison
      table.table
        thead
          tr
            th YASP Basic
            th YASP++
        tbody
          tbody
            tr
              td
                p #[i.fa.fa-plus] Player Profile
                p #[i.fa.fa-plus] Public Statistics
                p #[i.fa.fa-plus] Match Parsing/Replay Analysis
                p #[i.fa.fa-plus] Data Retention
                p #[i.fa.fa-plus] Word Clouds
                p #[i.fa.fa-plus] No Advertisements
                p #[i.fa.fa-plus] Match Making Statistics
                p #[i.fa.fa-plus] MMR Estimation
                p #[i.fa.fa-plus] MMR Tracking
                p #[i.fa.fa-plus] Advanced Match Filtering
                p #[i.fa.fa-plus] Peers tracking
              td.yellow-plus
                p #[i.fa.fa-plus]#[i.fa.fa-plus] Hyperopia Future Analysis
  .row
    .col-md-12.text-center
      small.
        Hyperopia is currently in beta and could report incorrect statistics. Use with caution.
        Hyperopia currently only displays basic overview statistics.
        New users may experience sudden diabetes, heart palpitations, severe ward-deficiency,
        critically high sodium levels, support Arc-Wardenitis, or a mild cough, but these effects should
        increase as time goes by. Hyperopia can also cause headache, nausea, and sudden loss of bladder
        control. Hyperopia is not suited for children under the age of 25, Twitch chat users, or women who are
        pregnant or may become pregnant. Always consult your doctor before starting
        a new stats regime.

append footer_assets
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);