extend layout

block content
  #about-top.gallery.faq
    .row
      .col-md-6.col-md-offset-3.text-center
        h1 Privacy
        hr
  .row
    .col-md-12
      ul
        li.
          We use Google Analytics on YASP just to monitor how well the site is doing. We
          don't share this information publicly or with third parties.
        
  .row
    .col-md-6.col-md-offset-3.text-center
      h1 Terms & Conditions
      hr
  .row
    .col-md-12
      ul
        li.
          We make no guarantees of avilabiliy for YASP, including for Cheese purchasers or
          subscribers.
        li.
          All sales are final and no refunds will be provided.
        
    //-
      .col-md-2
        block taglegend
          .well.sidebar-nav.tag-key
            p.lead Tags
            each tag in getTags()
              div
                span.label.label-info
                  a(href=tagURL(tag)) #{tag}