extend layout
include /mixins/match_table

block content
  h1 Professional
  h3 Matches
  table.table.table-condensed#pro_matches

append footer_assets
  script.
    var pro_matches = !{JSON.stringify(recent)};
    proMatches(pro_matches);
  