extend layout

block content
  .row.text-center
    .col-md-12
      h1 Request a Parse
      img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
      br
      br
      div#request
        .form-group
          .row
            .col-md-5
              input#match_id.form-control(type='text' name='match_id' placeholder='Match ID')
              ul.small.text-left
                li Only works for public matches within the last 7 days
            .col-md-2
              p.lead OR
            .col-md-5
              span.btn.btn-block.btn-primary.btn-file#file-select-button
                span#file-select-text Select Replay File
                input#file-select.form-control(type='file' name='replay_blob')
              ul.small.text-left
                li Uploads have incomplete data and eventually expire
                li Uploads do not count toward player statistics
        .form-group
          if config.ENABLE_RECAPTCHA
            .g-recaptcha#recaptcha(data-sitekey=rc_public, data-theme="dark", data-callback="requestSubmit")
          else
            button.btn.btn-default#submit(onclick="requestSubmit()") Request Parse
      #progContainer(style="display:none")
        img(src="/public/images/loading.gif", style="display:none")#loading
        .progress
          .progress-bar.progress-bar-info.progress-bar-striped.active#upload-bar
        .progress
          .progress-bar.progress-bar-success.progress-bar-striped.active#parse-bar
        #messages

append footer_assets
  script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit",async,defer)
  //script(src="/socket.io/socket.io.js")
  script.
    requestForm(); 
    var onloadCallback = function()
    {
        grecaptcha.render('recaptcha',
        {
            sitekey: $('#recaptcha').attr('data-sitekey'),
            theme: "dark",
            callback: submit
        });
    };