extend layout

block content
  .row
    .col-md-8
      h1 Match Requests
      h3
        small We can only parse matches if the replay hasn't expired.
      ol
        li Enter a match ID.
        li Prove your humanity.
        li We'll try to parse it for you!
      div#request
        .form-group
          input#match_id.form-control(type='text' name='match_id' placeholder='Match ID')
        .form-group
          if !process.env.DISABLE_RECAPTCHA
            .g-recaptcha#recaptcha(data-sitekey=rc_public, data-theme="dark", data-callback="submit")
          else
            // if the DISABLE_RECAPTCHA env var has been set, bypass the recaptcha
            button(onclick="submit()") Request Parse
      #progContainer(style="display:none")
        h3 Progress
        img(src="/public/images/loading.gif", style="display:none")#loading
        .progress
          .progress-bar.progress-bar-info.progress-bar-striped.active#bar
        #messages

append footer_assets
  script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit",async,defer)
  // script(src="https://www.google.com/recaptcha/api.js",async,defer)
  script(src="/socket.io/socket.io.js")
  script.
    var match_id;
    var socket;
    var onloadCallback = function() {
        grecaptcha.render('recaptcha',{sitekey: $('#recaptcha').attr('data-sitekey'), theme: "dark", callback: submit});
    };
    function submit(response){
      var field = document.getElementById("match_id");
      match_id = field.value;
      field.value = "";
      console.log(match_id);
      if (!socket){
        //set up the handlers
        socket = io.connect();
        socket.on('err', function(data){
          $("#messages").append("<div class='alert alert-danger' role='alert'>" + data + "</div>");
          $("#loading").css("display", "none");
          document.getElementById("bar").style.width = "0%";
          $("#request").show('slow');
          grecaptcha.reset();
        });
        socket.on('log', function(data){
          $("#messages").append("<div class='alert alert-info' role='alert'>" + data + "</div>");
          $("#loading").css("display", "block");
        });
        socket.on('prog', function(prog){
          document.getElementById("bar").style.width = prog + "%";
          document.getElementById("bar").innerHTML = prog + "%";
          $("#loading").css("display", "block");
        });
        socket.on('complete', function(){
          // redir to match page (?)
          window.location.assign("/matches/"+match_id);
        });
        }
        socket.emit('request', {
          match_id: match_id,
          response: response
        });
        $("#request").hide('slow');
        $("#messages").empty();
        $("#progContainer").show('slow');

    }
