.form-group
  input#match_id(type='text' name='match_id' class='form-control' placeholder='Match ID')
.form-group
  button(onclick='javascript:request();').btn.btn-success Request
#log
script(src="/socket.io/socket.io.js")
script.
  var socket = io.connect();
  socket.on('log',function(data){
    document.getElementById('log').innerHTML+=JSON.stringify(data)+"<br>";
  })
  function request(){
    var field = document.getElementById('match_id');
    var match_id = field.value;
    field.value = "";
    socket.emit('match_id', match_id);
  }