extend layout

block content
  h1 Status
  .row
    .col-md-4
      table.table
        tr
          th Players
          th Users
          th Tracked
          th FHE
          th FH
        tr
          td#players
          td#visited
          td#tracked_players
          td#eligible_full_history
          td#obtained_full_history
    .col-md-4
      table.table
        tr
          th Matches
          th Queued
          th Parsed
          th Uploaded
        tr
          td#matches
          td#queued_matches
          td#parsed_matches
          td#uploaded_matches
    .col-md-4
      table.table
        tr
          th Added Today
          th Parsed Today
          th Users Today
        tr
          td#matches_last_day
          td#parsed_matches_last_day
          td#visited_last_day
  .row
    include ads/leaderboard_2
block footer_assets
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect();
    socket.on('stats', function (data) {
    console.log(data);
      for (var prop in data.stats){
        $("#"+prop).html(data.stats[prop]);
      }
    });