extend layout

block content
  h1 Status
  .row
    .col-md-8
      h3 Statistics
      table.table
        thead
          tr
            th Players
            th Matches
            th Users
            th Full History
            th Tracked
            th Donated
            th MMR
        tbody
          tr
            td#players
            td#matches
            td#visited
            td#full_history
            td#tracked_players
            td#donated_players
            td#rating_players
    .col-md-4
      h3 Last 24H
      table.table
        thead
          tr
            th Matches
            th Queued
            th Parsed
            th Requested
        tbody
          tr
            td#matches_last_day
            td#queued_last_day
            td#parsed_last_day
            td#requested_last_day
    .col-md-4
      h3 Last Added
      table.table#last_added
        thead
          tr
            th Match ID
            th Sequence
            th Ended
        tbody
    .col-md-4
      h3 Last Parsed
      table.table#last_parsed
        thead
          tr
            th Match ID
            th Sequence
            th Ended
        tbody
    .col-md-4
      h3 Inactive Kue Jobs
      pre=JSON.stringify(result.kue, null, 2)

append footer_assets
  script(src="/socket.io/socket.io.js")
  script.
    var data = !{JSON.stringify(result)}
    //var socket = io.connect();
    //socket.on('stats', statusHandler);
    statusHandler(data);
