extend layout
  
block content
  .page-header.text-center
    if cheese
      h1(style='font-weight: 700;') Thanks.
      p.lead We mean it.
      p.lead You've bought #{cheese} cheese. How great. <br>
        | You have #{total} Cheese now. Woooooooooo!
    else
      h3 I don't think you should be here...