extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') Thanks.
    p.lead We mean it.
  if cheeseCount
    .row
      .col-md-4-offset-4
        p.lead You've got #{cheeseCount} cheese. How great.
block footer_assets
   link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")