extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') Thanks.
    p.lead We mean it.
  if cheese
    .row
      .col-md-4.col-md-offset-4
        p.lead You've bought #{cheese} cheese. How great.
          if total
            | You have #{total} Cheese now. Woooooooooo!
block footer_assets
   link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")