extend layout
  
block content
  .page-header.text-center
    if cancel
      p.lead Your subscription has been canceled. Thanks for your support.
    else if cheeseCount
      h1(style='font-weight: 700;') Thanks.
      p.lead We mean it.
      if subscription
        p.lead You've subscribed for #{cheeseCount} cheese/month ($#{cheeseCount}/month).
        p Your contribution gives us reliable income which allows us to afford better servers. Thanks!
      if subscription == 1
        p You can look at your subscription information on the 
          a(href="/carry") carry page
          | .
      else if subscription == 2
        p.
          You weren't logged in when completing your subscription.
          To cancel your subscription, send us an email.
      else
        p.lead You've bought #{cheeseCount} cheese. How great.
    else
      h3 I don't think you should be here...
      h3 But do you want to be? 
        a(href="/carry") Help us out
        | .