doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
      include ./header.jade
      .container
        .page-header
          h1(style='font-weight: 700;') YASP 
            small Yet Another Stats Page
        h3 To Do List
        #row
          #col-md-2
          #col-mid-8
            ul
              li Fix parsing trying to parse when replay isn't ready
              li Fix match page breaking when replay hasn't been parsed (due to lack of player names)
                 ul
                   li Make player names API request on page request, update/instert names
              li Add tower/racks info
              li Add hero position info
              li Add rune info
              li Add chat log
              li Add combat log
              li Add some system to add new player ids to track
            p.pull-right Updated September 4, 2014
      include ./footer.jade