extend layout
block content
  h1 Replay Uploads
  .row
    .col-md-8
      p Upload your replays here for faster results. <strong>We currently only support public lobbies.</strong>
  if files && rc_pass
    .alert.alert-success(role="alert") File received! <br> !{JSON.stringify(files)}
  else
    if !rc_pass
      .alert.alert-danger(role="alert") Recaptcha failed. Please Try again.
  form#upload(enctype="multipart/form-data", action="/upload", method="post")
    != recaptcha_form
    input.btn.btn-alert(type="file" name="replay" onchange="this.form.submit()")
  include ads/leaderboard_2