extend layout
block content
  if files
    .alert.alert-success(role="alert") !{JSON.stringify(files)}
  form#upload(enctype="multipart/form-data", action="/upload", method="post")
    input(type="file" name="replay" onchange="this.form.submit()")
