extend layout
block content
  h1 Replay Uploads
  .row
    .col-md-8
      p Upload your replays here for faster results. <strong>We currently only support public lobbies.</strong>
  if files && rc_pass
    .alert.alert-success(role="alert") File received! <br> !{JSON.stringify(files)}
  else
    if !rc_pass
      .alert.alert-danger(role="alert") Recaptcha failed. Please Try again.
  form#upload(enctype="multipart/form-data", action="/upload", method="post")
    .form-group
      label Recaptcha
      != recaptcha_form
    .form-group
      label Replay Upload
      input(type="file" name="replay")
    button.btn.btn-success#button Upload
  script.
    $("#button").click(function(event){
      event.preventDefault();
      $.post(
        "/verify_recaptcha",
        {
          recaptcha_challenge_field: $('#recaptcha_challenge_field').val(),
          recaptcha_response_field: $('#recaptcha_response_field').val()
        },
        function(data) {
          console.log(data)
          if (data.verified) {
              $("#upload").submit();
          } else {
            $("h1").after("<div role='alert' class='alert alert-warning'> Recaptcha failed. Please Try again.</div");
            Recaptcha.reload();
          }
        }
      )
    })
  include ads/leaderboard_2