extend layout
block content
  h1 Replay Uploads
  .row
    .col-md-8
      p Upload your replays here to parse them with higher priority. <strong>We currently only support public lobbies.</strong>
  if files
    .alert.alert-success(role="alert") File #{files.originalname} received! Size: #{files.size} bytes
  form#upload(enctype="multipart/form-data", action="/upload", method="post")
    .form-group
      label Replay Upload
      input(type="file" name="replay")
    button.btn.btn-success#button Upload
  include ads/leaderboard_2
  
block footer_assets