footer {
  background-color: #000;
}
.c3 {
    color: #000;
}
.c3 path,
.c3 line {
    stroke: rgb(199, 199, 199) !important;
}
.c3-axis-y .tick,
.c3-axis-x .tick,
.c3-axis-x-label,
.c3-axis-y-label,
.c3-legend-item {
    fill: rgb(199, 199, 199);
}

/* tweak the table success/danger colors */
.success,
.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: #488446;
}

.danger,
.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #712C2C;
}