@font-face {
	font-family: "Flaticon";
	src: url("/public/css/flaticon.eot");
	src: url("/public/css/flaticon.eot#iefix") format("embedded-opentype"),
	url("/public/css/flaticon.woff") format("woff"),
	url("/public/css/flaticon.ttf") format("truetype"),
	url("/public/css/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}.flaticon-1:before {
	content: "\e000";
}
