h1.home {
    font-size: 50px;
}
.icon-circle {
    height: 140px;
    width: 140px;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}
.circle-margin {
    margin-top: 6px;
}
#philosophy {
    background: url("../images/dota-blackwhite-copy.png") white no-repeat right;
    padding: 5em 0;
    color: black;
}
.main {
    width: 100%;
    position: relative;
    background-color: #fff;
}
/* floating action button */

.fab {
    bottom: 1em;
    right: 2em;
    position: fixed;
}
/* make images gray */

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    
    filter: gray;
    /* IE6-9 */
    
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.scroll-down a,
.scroll-top a {
    color: #ffffff;
}
.scroll-down {
    position: fixed;
    bottom: 20%;
    right: 0%;
    color: #f9f9f9;
}
.scroll-top {
    background-color: #dbdbdb;
}
.vert {
    vertical-align: middle;
    width: 100%;
    padding-top: 4%;
    text-align: center;
}
.header .btn-lg {
    font-size: 24px;
    border-color: #eeeeee;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
}
.header .btn-lg:hover {
    background-color: #BBF0FD;
    border-color: #BBF0FD;
    color: #FFF;
}
.header h1 {
    font-size: 80px;
    -webkit-text-stroke: 1px rgba(f, f, f, 0.1);
    color: #431a6d;
    color: #fff;
    margin-left: -5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.header .lead {
    color: #d46054;
    font-size: 25px;
}
.header .lead2 {
    font: 20px;
}
.header {
    /*height: calc(100% - 3em);*/
    /* subtract an amount of space for your arrow element */
    height:700px;
    background-color: #333;
    width: 100%;
}
/* floating arrow button in the header */

.arrow-wrap,
.arrow-wrap2 {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -5em;
    margin-left: -5em;
    background: #BBF0FD;
    width: 10em;
    height: 10em;
    padding: 4em 2em;
    border-radius: 50%;
    font-size: 0.5em;
    display: block;
    box-shadow: 0px 0px 5px 0px #333;
}
#right-arrow {
    left: 95%;
    width: 7em;
    height: 7em;
    padding: 2em 0em;
}
/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */

.arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: rotate(360deg);
    /* added for better anti-aliasing on webkit browsers */
}
/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */

.arrow:after {
    content: '';
    position: absolute;
    top: -3.5em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #BBF0FD transparent transparent transparent;
    -webkit-transform: rotate(360deg);
    /* added for better anti-aliasing on webkit browsers */
}
#arrow2 {
    border-width: 2em 2em 0 2em;
    top: 1em;
    left: 1.5em;
}
#arrow2:after {
    border-width: 2em 2em 0 2em;
    top: -2.5em;
    left: -2em;
}
@-webkit-keyframes arrows {
    0% {
        top: 0;
    }
    10% {
        top: 12%;
    }
    20% {
        top: 0;
    }
    30% {
        top: 12%;
    }
    40% {
        top: -12%;
    }
    50% {
        top: 12%;
    }
    60% {
        top: 0;
    }
    70% {
        top: 12%;
    }
    80% {
        top: -12%;
    }
    90% {
        top: 12%;
    }
    100% {
        top: 0;
    }
}
.arrow-wrap .arrow,
#arrow-wrap2 #arrow2 {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}
/* use alt in navbar and header for different color */

.alt {
    background: url("../images/dotawallpaper.png");
    background-size: cover;
    background-position: center;
}
.alt .lead {
    color: #BBF0FD;
}
.alt.affix {
    background-color: #4C06AB;
}
.alt li a:hover,
.alt li.active {
    background-color: #BBF0FD;
}
.blurb {
    padding: 120px 0;
    background-color: #fefefe;
}
.blurb .panel {
    background-color: transparent;
}
.bright {
    background: #dbdbdb url('../images/pt_topo.png') repeat center center fixed;
    color: #777;
}
.bright h1, .bright h2 {
    color: #777 !important;
}
.featurette {
    background: #222334;
    padding: 50px 0;
    color: #ffffff;
}

.featurette h1, .featurette h2 {
    color: #fff !important;
}
.featurette-item {
    margin-bottom: 15px;
}
.featurette-item > i {
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
}
.featurette.dark .well {
    color: #000;
}
.featurette-item > i:hover {
    font-size: 68px;
}

.callout {
    color: #ffffff;
    padding-top: 7%;
    width: 100%;
    /*background: url('../images/header.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.callout h1, .callout h2{
    color: #ffffff;
}
.gallery {
    padding: 50px 0;
}
.call-to-action {
    background: #eeeeee;
    padding: 50px 0;
}
.call-to-action .btn {
    margin: 10px;
}

.featurette.dark a:hover {
  color: #337ab7;
}
