body {
    color: #D6D6D6;
}

/* ads */

.leaderboard {
    margin: 0 auto;
    display: block;
}

.skyscraper {
    margin: 2em auto;
    display: block;
}

.margin-bottom {
    margin-bottom: 1.5em;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 100%;
    padding: 1.3em;
}

@media (max-width: 991px) {
    footer ul{
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
} 

h3 img {
    padding-right: 1em;
}

.img-sm {
    margin: 1px;
    height: 24px;
}

.img-md {
    margin: 1px;
    height: 32px;
}

.img-text {
    float: left;
    text-align: center;
    font-size: 11px;
}

.img-text img {
    height: 22px;
}

.tooltip-inner {
    white-space: normal;
}

.mapContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.map {
    width: 100%;
}

.icon {
    width: 15px;
}

.user {
    margin: 2px;
    width: 25px;
}

.attribVal {
    color: #f5c433;
    font-weight: bolder;
}

.big {
    font-size: 80px;
}

.small-cheese {
    text-shadow: 0 0 1px yellow;
}

.medium-cheese {
    font-size: 40px;
    text-shadow: 0 0 10px yellow;
}

.player-tabs .nav > li > a {
    padding: 5px 6px;
}


/* Cheese Goal Bar */

.meter_wrapper {
    margin-bottom: 1em;
}

.meter_wrapper > p {
    font-size: 1.3em;
}

.meter {
    height: 23px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    background: #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    color: black;
    font-size: .8em;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(248, 253, 24);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter > span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    color: #FFF;
    text-shadow: 0px 0px 5px #000000;
    visibility: visible;
}

.progress_text {
    margin: 0 auto;
}

.progress {
    margin: 0 auto;
    visibility: hidden;
    
}

.progress.progress-short {
    height: 4px;
}

#messages {
    margin: 3em auto 20em;
}

#loading {
    height: 8em;
    margin: 0 auto;
}

.btn-dark {
    color: #fff;
    background-color: #848484;
    border-color: #848484;
}

.btn-query {
    color: #000;
    background-color: #BBF0FD;
    border-color: #BBF0FD;
}

.btn-query:hover,
.btn-query:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.wards button {
    display: block;
    margin: 10em auto;
}

.charts button {
    margin-right: .5em;
}

.player-color {
    border-left: 5px solid;
}

div .dataTables_processing {
    /*set z-index for processing indicator*/
    z-index: 60000;
}

.theme-blue {
    color: #BBF0FD;
}

.panel-chart {
    color: blue;
}

.bottom-padding {
    padding-bottom: 5%;
}

.inline-header {
    display: inline-block;
    margin-right: .5em;
}

.toggle-button {
    display: inline;
    vertical-align: super;
}

.bright-border-collapsible {
    border-color: #ccc;
}

.bright-border-collapsible.collapsed {
    background-color: #545454;
    border-color: rgb(0, 0, 0);
}

.glow {
  border: 2px solid rgb(86, 180, 239);
  border-radius: 10px;
}

.small-hero-icon {
    zoom: .75;
}

.hidden {
    display: none;
}

h1,
h2,
h3 {
    font-weight: 700;
}


/* use special fonts in certain elements */

h1,
h2,
h3,
h4,
.lead,
.btn,
.navbar a {
    text-transform: uppercase;
}

.navbar-nav > li > a
{
    font-size: 0.8em;
    padding-right: 8px;
    padding-left: 8px;
}

.icon-bar {
    background-color: #fff;
}


/* tweak progress bar heights */

.progress {
    height: 21px;
}

.progress .progress-bar {
    font-size: 14px;
    line-height: 21px;
}


/*center tables*/

td,
th {
    text-align: center;
    vertical-align: middle !important;
}

td.text-left {
    text-align: left;
}


/* lighten footer of tables so radiant/dire rows are delineated from last player */
tfoot tr {
    background-color: #3d3d3d;
}


/* Use sans-serif on tables*/


/*
table tbody *,
table tfoot * {
    font-family: Arial, sans-serif;
}
*/

.nowrap {
    min-width: 100px;
    white-space: nowrap;
}

.rating {
    margin-right: 5px;
}

/*make c3 show up better on dark background*/

.c3 {
    color: #000;
}

.c3-chart-arcs-title
{
    color: #FFF;
}

g
.c3-axis path,
.c3-axis line {
    stroke: rgb(199, 199, 199);
}

.c3-axis-x .tick,
.c3-axis-y .tick,
.c3-axis-y2 .tick,
.c3-axis-x-label,
.c3-axis-y-label,
.c3-axis-y2-label,
.c3-legend-item {
    fill: rgb(199, 199, 199);
}

/* make links take text-success/danger colors*/
.text-success a,
.text-danger a {
    color: inherit;
}

/* Attaches "New!" to new feature */
.new-feature:after {
    content: "New\0021";
    color: yellow;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    margin-left: 3px;
    text-transform: uppercase;
}

.lane-position {
  cursor: pointer;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* info text on request page*/
ul.small.text-left {
    margin-top: 1em;
}

.label {
    margin: 1px;
}

table img.img-sm {
    margin: 0 5px;
}

.center {
    margin: 0 auto;
}

table {
  background-color:#333; 
  border:1px solid #666;
}

/* April 2016 */

#nav-plusplus a {
    color: yellow;
}

.yellow-plus i {
    color: yellow;
}
