.vis.timeline .item.background.background-0 {
    background-color: rgba(213, 221, 246, 0.4);
}

.vis.timeline .item.background.background-1 {
    background-color: rgba(243, 156, 18, 0.4);
}

.vis.timeline .item.background.background-2 {
    background-color: rgba(46, 204, 113, 0.4);
}

.vis.timeline .item.background.background-3 {
    background-color: rgba(231, 76, 60, 0.4);
}

.vis.timeline .item.background.background-4 {
    background-color: rgba(231, 76, 60, 0.4);
}

.vis.timeline.item {
    background-color: #FFFFFF;
}