.backgruond-0 {
    background-color: #1abc9c;
}

.backgruond-1 {
    background-color: #f39c12;
}

.backgruond-2 {
    background-color: #2ecc71;
}

.backgruond-3 {
    background-color: #e74c3c;
}

.backgruond-4 {
    background-color: #3498db;
}

.backgruond-5 {
    background-color: #9b59b6;
}

.vis.timeline .item {
    background-color: #FFFFFF;
    border-color: #000000;
}