/* fix bs3 horizontal scrollbar bug */

.row {
  margin: 0;
  padding: 0
}
/* use special fonts in certain elements */

h1,
h2,
h3,
h4,
.lead,
.btn,
.navbar a {
  text-transform: uppercase;
  font-family: "Roboto Slab", Arial, sans-serif;
  letter-spacing: 2px;
}

a.list-group-item:hover,
a.list-group-item:focus {
  color: #BBF0FD;
  background-color: #FFF;
}
.icon-bar {
  background-color: #fff;
}
.navbar a {
  color: #fff;
  font-size: 14px;
}
.navbar-bold.affix {
  background-color: #d46054;
}
.navbar-bold {
  background-color: #f68076;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-bold li a:hover,
.navbar-bold li.active {
  background-color: #d46054;
}
.navbar-brand:hover,
.navbar-brand:focus {
  background-color: #BBF0FD;
}
.navbar-brand:hover strong,
.navbar-brand:focus strong {
  color: #000;
}
#navbar .nav>li>a:hover,
#navbar .nav>li>a:focus {
  background-color: #BBF0FD;
}
.navbar-fixed-top {
  transition: background 1s ease 0s;
}
.navbar-fixed-top.opaque {
  background-color: rgb(37, 41, 42);
  transition: background-color 1s ease 0s;
}
a:hover {
  color: #000;
}