html,
body {
  height: 100%;
  width: 100%;
  font-family:"Roboto Slab", Arial,sans-serif;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }


/* use special fonts in certain elements */
h1,h2,h3,h4,.lead,.btn,.navbar a {
  text-transform:uppercase;
  font-family: "Roboto Slab", Arial,sans-serif;
  letter-spacing:2px;
}

a:hover, a:focus {
  text-decoration: none;
  color:#BBF0FD;
}

#heatmap-table {
  height:500px;
}

thead {
  background-color: #fff;
}

#panel-chart {
  padding:10px;
}

.panel-body {
  background-color: #f5f5f5;
}

.panel-title {
  text-transform: none;
  font-size: 15px;
  letter-spacing: 0px;
}

.blog-preview {
  background-color: #fff;
}

.blog-heading {
  font-size: 20px !important;
  color: #337ab7;
}

.blog-panel {
  margin-bottom: 30px;
}

.blog-date {
  color: #777;
  margin-bottom: 0px;
}

.label-info {
  margin-right: 5px;
}

.tag-header {
  margin-bottom: 10px;
}

.tag-list {
  background-color: #5BC0DE;
  border-radius:4px;
  color: #fff;
  padding: 2px 5px ;
  margin-left: -10px;
}

.tag-list:hover, .tag-list:focus, .tags a span:hover, .tags a span:focus {
  color:#BBF0FD;
  /*background-color: #f5f5f5 !important*/
} 

.tag-key a:hover, .tag-key a:focus {
  color:#BBF0FD;
  background-color: #f5f5f5 !important;
}

.theme-blue {
  color:#BBF0FD;
}

.panel-chart {
  color:blue;
}

.bottom-padding {
  padding-bottom: 5%;
}

a.list-group-item:hover, a.list-group-item:focus{
  color: #BBF0FD;
  background-color: #FFF;
}

.icon-bar {
  background-color: #fff;
}

.navbar a {
  color:#fff;
  font-size:14px;
}

.navbar-bold.affix {
  background-color:#d46054;
}

.navbar-bold {
  background-color:#f68076;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-bold li a:hover, .navbar-bold li.active {
  background-color:#d46054;
}

.navbar-brand:hover, .navbar-brand:focus {
  background-color: #FFF;
}

#navbar .nav>li>a:hover, #navbar .nav>li>a:focus {
  background-color: #BBF0FD; 
}

.navbar-fixed-top { 
  transition: background 1s ease 0s;
}

.navbar-fixed-top.opaque{ 
  background-color: rgb(37, 41, 42);
  transition: background-color 1s ease 0s;
}