/* ads */

.leaderboard {
    margin: 0 auto;
    display: block;
}

.skyscraper {
    margin: 2em auto;
    display: block;
}

.margin-bottom {
    margin-bottom: 1.5em;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.frame {
    display: table;
}

.match-top {
    margin-top: 1.5em;
}

h3 img {
    padding-right: 1em;
}

.img-text {
    float: left;
    text-align: center;
    font-size: 11px;
}

.img-small {
    margin-left: 1px;
    margin-right: 1px;
    height: 25px;
}

.img-md {
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
}

.pickban {
    margin: 0px;
    height: 25px;
}

.tooltip-inner {
    white-space: normal;
}

.mapContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.map {
    width: 100%;
}

.icon {
    width: 15px;
}

footer {
    background-color: #BBF0FD;
    width: 100%;
    padding: 1.3em 0 0 1em;
}

.user {
    margin: 2px;
}

.attribVal {
    color: #f5c433;
    font-weight: bolder;
}

.big {
    font-size: 80px;
}

.medium-cheese {
    font-size: 40px;
    text-shadow: 0 0 10px yellow;
    /*border: 3px solid rgb(189, 155, 20);*/
    /*background-color: lightyellow;*/
    /*border-radius: 50%;*/
    /*padding: 3px 11px;*/
}


/* Cheese Goal Bar */

.meter_wrapper {
    margin-bottom: 1em;
}

.meter_wrapper > p {
    font-size: 1.3em;
}

.meter {
    height: 20px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    background: #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(248, 253, 24);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter > span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    color: #FFF;
    text-shadow: 0px 0px 5px #000000;
}

.progress_text {
    margin: 0 auto;
}

.progress {
    margin: 0 auto;
}

#messages {
    margin: 3em auto 20em;
}

#loading {
    height: 8em;
    margin: 0 auto;
}

.btn-dark {
    color: #fff;
    background-color: #848484;
    border-color: #848484;
}

.btn-yasp {
    color: #000;
    background-color: #BBF0FD;
    border-color: #BBF0FD;
}

.btn-yasp:hover,
.btn-yasp:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.wards button {
    display: block;
    margin: 10em auto;
}

.charts button {
    margin-right: .5em;
}

.player-color {
    border-left: 10px solid;
}

div .dataTables_processing {
    /*set z-index for processing indicator*/
    z-index: 60000;
}


/* Blog */

#panel-chart {
    padding: 10px;
}

.panel-title {
    text-transform: none;
    font-size: 15px;
    letter-spacing: 0px;
}

.blog-heading {
    font-size: 20px;
}

.blog-panel {
    margin-bottom: 30px;
}

.blog-date {
    margin-bottom: 0px;
}

.label-info {
    margin-right: 5px;
}

.theme-blue {
    color: #BBF0FD;
}

.panel-chart {
    color: blue;
}

.bottom-padding {
    padding-bottom: 5%;
}

.inline-header {
    display: inline-block;
    margin-right: .5em;
}

.toggle-button {
    display: inline;
    vertical-align: super;
}

.bright-border {
    border-color: #ccc;
}

.toggle-button.collapsed {
    background-color: #545454;
    border-color: rgb(0, 0, 0);
}

.glow {
    border: 3px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.small-hero-icon {
    zoom: .75;
}

.hidden {
    display: none;
}


/* Sticky footer styles*/

.sticky_footer_row {
    display: table-row;
    height: 1px;
}

.sticky_footer_row.expand {
    height: auto;
}

h1,h2,h3 {
    font-weight: 700;
}


/* use special fonts in certain elements */

h1,
h2,
h3,
h4,
.lead,
.btn,
.navbar a {
    text-transform: uppercase;
}

.icon-bar {
    background-color: #fff;
}


/* tweak progress bar heights */

.progress {
    height: 21px;
}

.progress .progress-bar {
    font-size: 14px;
    line-height: 21px;
}


/*center tables*/

td,
th {
    text-align: center;
    vertical-align: middle !important;
}

td.text-left {
    text-align: left;
}


/*temporary select2 fixes*/

.select2-container,
.select2-search__field {
    color: black;
    width: 100% !important;
    padding: 0;
    height: 35px;
}

.select2-container {
    margin-bottom: 10px;
}


/* Use sans-serif on tables*/


/*
table tbody *,
table tfoot * {
    font-family: Arial, sans-serif;
}
*/