@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

.carry-header {
  width: 100%;
  height: 260px;
  background-image: url('../images/carry-header.jpg');
  background-position: 50% 0px;
  color: #f5f5f5;
  position: relative;
  margin-bottom: 10px;
}
.carry-header-valign {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.carry-header h1 {
  font-weight: 400;
  text-transform: none;
}
.carry-header h3 {
  font-weight: 300;
  text-transform: none;
}

.carry-picauthor {
  position: absolute;
  right: 20px;
  font-size: 14px;
  bottom: 10px;
  opacity: .8;
  font-weight: 300;
  display: block;
}
.carry-picauthor a {
  color: #111;
}
.carry-picauthor a:hover {
  color: #111;
  opacity: 1;
}


.carry-col h3 {
  text-transform: none;
  font-weight: 400;
}
.carry-col p {
  font-size: 18px;
  font-weight: 300;
}
.carry-info-icon {
  color: #0ce3ac;
  margin-right: 5px;
}
.carry-col abbr {
  font-weight: 300;
}
#cancel-info p {
  font-size: 14px;
  font-weight: 400;
}
.carry-feature h3 {
  margin-bottom: 18px;
}
#top {
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 768px) {
  .carry-header-valign {
    margin-top: -30px;
    padding: 0 70px;
  }
  .carry-tc-desc-media {
    padding: 0 70px;
  }
  .carry-header h1 {
    font-size: 52px;
  }
  .carry-col h3 {
    font-size: 38px;
  }
  .carry-col.carry-col-media1st {
    padding: 0 25px 0 50px;
  }
  .carry-col.carry-col-media2nd {
    padding: 0 50px 0 25px;
  }
  .carry-feature h3 {
    font-size: 28px;
  }
}



.carry-table {
  margin-top: 30px;
  border: none;
}
.carry-table thead tr {
  background-color: #111;
  height: 56px;
  font-size: 18px;
}
.carry-table tbody tr {
  border-bottom: 1px solid #222;
}
.carry-text-shadow {
  text-shadow: 0px 1px 1px #111;
}