/* ads */
.skyscraper, .leaderboard {
    margin: 0 auto;
    display: block;
}
.match-top {
    margin-top: 1.5em;
}
.match-top h1 {
    font-size: 38px;
    font-weight: 700;
}
.vis.timeline .item.background.background-0 {
    background-color: rgba(213, 221, 246, 0.4);
}
.vis.timeline .item.background.background-1 {
    background-color: rgba(52, 73, 94, 0.4);
}
.vis.timeline .item.background.background-2 {
    background-color: rgba(46, 204, 113, 0.4);
}
.vis.timeline .item.background.background-3 {
    background-color: rgba(231, 76, 60, 0.4);
}
.vis.timeline .item.background.background-4 {
    background-color: rgba(142, 68, 173, 0.4);
}
.vis.timeline .item.background.background-5 {
    background-color: rgba(90, 76, 192, 0.4);
}
.vis.timeline .item.background.background-6 {
    background-color: rgba(24, 156, 86, 0.4);
}
.vis.timeline .item.background.background-7 {
    background-color: rgba(189, 195, 199, 0.4);
}
.vis.timeline .item.background.background-8 {
    background-color: rgba(160, 15, 205, 0.4);
}
.vis.timeline .item.background.background-9 {
    background-color: rgba(250, 83, 31, 0.4);
}
.vis.timeline .item.kill {
    background-color: red;
}
.vis.timeline .item.buy {
    background-color: green;
}
.vis.timeline .item {
    padding: 1px;
}
h3 img {
    padding-right: 1em;
}
.table-img {
    white-space: nowrap;
    min-width: 150px;
}
.img-text {
    float: left;
    text-align: center;
    font-size: 10px;
}
.ability {
    width: 30px
}
.item {
    width: 35px;
}
.kill {
    width: 35px;
}
td.abilities {
    padding: 8px 1px !important;
}
td.abilities img {
    height: 35px;
    width: 35px;
}
* {
    font-family:'Lato', sans-serif;
}
.navbar-default {
    background-color: #BBF0FD;
}
.hero img {
    width: 50px;
}
.tooltip-inner {
    white-space:normal;
}
.mapContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
}
.map {
    width: 100%;
}
.icon {
    width:15px;
}