extend layout

block content
  .row
    .col-md-12
      h1 All Matches
      include query
      .margin-bottom
        table.table#matches
  
append footer_assets
  script.
    playerMatches({js_agg:{}});
  style .leaderboard { margin-top: 1.5em;}
