extend layout
block content
  h3 Players
  .row
    .col-md-12
      table.table
        tr
          th Name
        each player in players
          tr
            td
              a(href='/players/#{player.account_id}')
                =player.personaname || player.account_id