extend layout
block content
  h1 Requests
  .row
    .col-md-8
      p Request a parse by uploading a replay file or entering a match ID.
      p Only public games are supported.
  if error
    .alert.alert-danger(role="alert")=JSON.stringify(error)
  .row
    .col-md-4
      div.radio
        label
          input.type(type="radio" name="type" value="replay")
          ="Replay"
      div.radio
        label
          input.type(type="radio" name="type" value="match_id")
          ="Match ID"
      form#upload(enctype="multipart/form-data", action="/upload", method="post", style="margin-bottom:2em;")
        .form-group#input
        .form-group
          label Prove humanity:
          != recaptcha_form
        button.btn.btn-success#button Submit

append footer_assets
  script.
    $(".type").click(function(event){
      var type = $(this).val();
      var inputs = {
        "replay":"<input type='file' name='replay'/>",
        "match_id":"<input type='text' name='match_id' class='form-control' placeholder='Match ID'/>"
        };
      $("#input").empty().append(inputs[type]);       
    })
    $("#button").click(function(event) {
        event.preventDefault();
        $.post(
            "/verify_recaptcha", {
                recaptcha_challenge_field: $('#recaptcha_challenge_field').val(),
                recaptcha_response_field: $('#recaptcha_response_field').val()
            },
            function(data) {
                if (data.verified) {
                    $("#upload").submit();
                }
                else {
                    Recaptcha.reload();
                }
            }
        );
    });