extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"actions",summable:true, heading: "Actions"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th Hero
              th: abbr(title="Number of times the player pinged") Pings
              //th: abbr(title="Number of times the player clicked") Clicks
          tr(class = player.isRadiant ? "radiant" : "dire")
            td #{p.pings[0] || "-"}
            //td #{p.clicks[0] || "-"}

  +ad("banner2")

  each player, i in match.players
    p=JSON.stringify(player.parsedPlayer.actions)