extend match
    
block match_content
  .row
    .col-md-12
      h2 Graphs 
        small Click a series in the legend to toggle.  Alt-click to show one.
      h3 Radiant Advantage
      #chart-diff
      h3 Gold
      #chart-gold
      hr
      +ad("banner3")
      hr
      h3 XP
      #chart-xp
      h3 LH
      #chart-lh

append footer_assets
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);