extend match
    
block match_content
  .row
    .col-md-12
      h2 Graphs
      .alert.alert-success.text-center Click on an entry in the legend to select/deselect.  Alt-click to show only that entry.
      h3 Radiant Advantage
      #chart-diff
      hr
      h3 Gold
      #chart-gold
      hr
      +ad("banner3")
      hr
      h3 XP
      #chart-xp
      hr
      h3 LH
      #chart-lh

append footer_assets
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);