extend match

block match_content
  -
    var performanceColumns = [
      {
        name: "Hero",
        property: true,
        notNumber: true
      },
      {
        name: "Lane",
        title: "Lane based on early game position",
        notNumber: true,
        property: function(p) {
          p = p.parsedPlayer;
          return (constants.lane_ids[p.lane] || "-") + " (" + (constants.lane_role[p.lane_role] || "-") + ")";
        }
      },
      {
        name: "Observer",
        title: "# of Observer Wards placed during the game",
        property: function(p) { return p.parsedPlayer.obs_log.length || "-"; }
      },
      {
        name: "Sentry",
        title: "# of Sentry Wards placed during the game",
        property: function(p) { return p.parsedPlayer.sen_log.length || "-"; }
      },
      {
        name: "Pick",
        title: "Order in which the player picked",
        property: function(p) { return p.parsedPlayer.pick_order || "-"; }
      },
      {
        name: "EFF@10",
        title: "Percentage of lane gold (creeps+passive+starting) obtained at 10 minutes",
        property: function(p) { return (p.parsedPlayer.lane_efficiency*100).toFixed(2); }
      },
      {
        name: "LH@10",
        title: "# of last hits at 10 minutes",
        property: function(p) { return p.parsedPlayer.lh[10] || "-"; }
      },
      {
        name: "Stuns",
        title: "Seconds of disable delt to heroes",
        property: function(p) { return p.parsedPlayer.stuns.toFixed(2); }
      },
      {
        name: "Pings",
        title: "Number of times the player pinged",
        property: function(p) { return p.parsedPlayer.pings[0]; }
      }
    ];
    
    var utilizationColumns = [
      {
        name: "Hero",
        property: false,
        notNumber: true
      },
      {
        name: "Biggest Hit",
        title: "Largest instance of damage on a hero",
        notNumber: true
      },
      {
        name: "Skill Use (Hits)",
        title: "Skills used (Number of hits on enemy heroes)",
        notNumber: true,
        property: "ability_uses_arr"
      },
      {
        name: "Item Use",
        notNumber: true,
        property: "item_uses_arr"
      },
      {
        name: "Damage Inflictors",
        title: "Damage dealt to heroes by skills/abilities",
        notNumber: true,
        property: "damage_inflictor_arr"
      }
    ];
  
  .mdl-cell.mdl-cell--12-col
    +data_table({id:"performances",summable:true, heading: "Performances"}, performanceColumns, match.players)
    +data_table({id:"utilization", heading: "Utilization"}, utilizationColumns, match.players)