extend match
    
block match_content
  .row
    .col-md-12
      h2 Graphs 
        small Click a series in the legend to toggle.  Alt-click to show one.
      h3 Radiant Advantage
      #chart-diff
      h3 Gold
      #chart-gold

      +ad("banner3")

      h3 XP
      #chart-xp
      h3 LH
      #chart-lh

      h3 Gold Sources
      #chart-gold-breakdown
      //#chart-gold-treemap
      //-
        .row
          each g, i in match.incomeData.goldCols
            .col-md-3
              div(id="chart-pie-"+i)
      
append footer_assets
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);
    
    var data = !{JSON.stringify(match.incomeData)};
    c3.generate({
        bindto: "#chart-gold-breakdown",
        data: {
            columns: data.goldCols,
            type: 'bar',
            order: 'desc',
            groups: [
                    data.gold_reasons
                ]
        },
        bar: {
            width: {
                ratio: 0.9
            }
        },
        axis: {
            x: {
                type: "category",
                categories: data.cats
            }
        }
    });
    
    /*
    console.log(data);
    data.goldCols.forEach(function(g, i){
        c3.generate({
        bindto: "#chart-pie-"+i,
          data: {
              columns: data.goldCols.map(function(gc){return [gc[0], Math.max(gc[i+1], 0)]}),
              type : 'donut'
          },
          donut: {
              title: data.cats[i]
          },
          legend: {
            show: false
          }
      });
    });
    */
  //-
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgit.com/highslide-software/highcharts.com/master/js/themes/gray.js"></script>
    <script src="https://rawgit.com/highslide-software/highcharts.com/master/js/modules/treemap.src.js"></script>
    script.
      var data = !{JSON.stringify(match.treeMapData)};
      console.log(data);
      $('#chart-gold-treemap').highcharts({
          series:[{type:"treemap",
              allowDrillToNode: true,
              data:data,
              layoutAlgorithm: "squarified",
              dataLabels:{enabled:true},
              colorByPoint: true,
              levels: [{
                  level: 1,
                  dataLabels: {
                      enabled: true,
                      align: "left",
                      verticalAlign: "top"
                  }
              }],
              }]
      });