extend match

block match_content
  -
    var purchasesColumns = [
      {
        name: "Hero",
        property: true,
        notNumber: true
      },
      {
        name: "TPs",
        title: "Town Portal Scroll purchases",
        property: function(p) { return p.parsedPlayer.purchase.tpscroll || "-"; }
      },
      {
        name: "Observer",
        title: "Observer Ward purchases",
        property: function(p) { return p.parsedPlayer.purchase.ward_observer || "-"; }
      },
      {
        name: "Sentry",
        title: "Sentry Ward purchases",
        property: function(p) { return p.parsedPlayer.purchase.ward_sentry*2 || "-"; }
      },
      {
        name: "Smokes",
        title: "Smoke of Deceit purchases",
        property: function(p) { return  p.parsedPlayer.purchase.smoke_of_deceit || "-"; }
      },
      {
        name: "Dusts",
        title: "Dust of Appearance purchases (x2)",
        property: function(p) { return  p.parsedPlayer.purchase.dust*2 || "-"; }
      },
      {
        name: "Gems",
        title: "Gem of True Sight purchases",
        property: function(p) { return p.parsedPlayer.purchase.gem || "-"; }
      },
      {
        name: "Rapiers",
        title: "Divine Rapier purchases",
        property: function(p) { return p.parsedPlayer.purchase.rapier || "-"; }
      },
      {
        name: "Buybacks",
        title: "Buyback purchases",
        property: function(p) { return p.parsedPlayer.buyback_log.length || "-"; }
      }
    ];
   
  .mdl-cell.mdl-cell--12-col
    +data_table({id:"performances",summable:true, heading: "Purchases"}, purchasesColumns, match.players)
    include timelines_purchases_table