extend match

block match_content
  .row
    .col-md-12
      h3 Cosmetics 
        small Cosmetic items owned by players in this match
      +data_table({id:"cosmetics", heading:""})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th Cosmetics
          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            td
              .row
              each item in player.cosmetics
                .col-md-2
                  a(href="https://www.lootmarket.com/dota-2/item/" + item.name + "?partner=1101&utm_source=misc&utm_medium=misc&utm_campaign=opendota")
                    img(src="http://cdn.dota2.com/apps/570/" + item.image_path, style="height:40px;")
                    div.small=item.name 