mixin ad(type)
  if config.ENABLE_ADS && cheese < config.GOAL
    if type==="banner1"
      style .ad div { display: block !important; margin: 0 auto; }
      .ad
        script(src="http://cdn2-marketplace.vntsm.com/p.js?s=570778d053d855420d8b584d&r_id=7052123" type="text/javascript")
      hr
    else if type==="banner2"
      hr
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      // responsive-2
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5591574346816667', data-ad-slot='1582684231', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
      hr
    else if type==="banner3"
      hr
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      // responsive-3
      ins.adsbygoogle(style='display:block; margin-bottom: 2em;', data-ad-client='ca-pub-5591574346816667', data-ad-slot='8966350234', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    else if type==="skyscraper"
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      ins.adsbygoogle.skyscraper(style='width:300px;height:600px', data-ad-client='ca-pub-5591574346816667', data-ad-slot='4779840634')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});


