mixin ad(type)
  if config.ENABLE_ADS
    if type==="banner1"
      style #vp img { display: block; margin: 0 auto; max-width: 100%; }
      div
        a#vp(href='http://www.vpgame.com/?lang=en_us', onclick="ga('send', 'event', 'vp', 'click', 'banner')")
          img(src='/public/images/vp.jpg')
      hr
    else if type==="banner2"
      hr
      style .ad div, .ad img, .ad object { display: block !important; margin: 0 auto; }
      .ad
        script.
          var siteId = '1952499', placementId = '7052123';
          var referenceId = placementId + '-' + Date.now() + '-' + Math.random().toString().replace('0.','');
          document.write('<div id="vm-hb-placement-placeholder-'+referenceId+'" data-id="'+placementId+'"></div>');
          (function(){
            var d = document, s = d.createElement('script'), p = d.location.protocol;
            s.type = 'text/javascript';
            s.src = ((p === 'https:') ? 'https' : 'http') + '://d.alcvid.com/tag-market/'+siteId+'/'+referenceId;
            var t = document.getElementsByTagName('head')[0];
            t.insertBefore(s, t.firstChild);
          })();
      hr
    else if type==="banner3"
      hr
      <iframe style="border: none; margin: 0 0 15px 0; width:100%; height:300px;" src="https://www.stanza.co/@dota2?embed=true&banner=true&site=opendota"></iframe>
    else if type==="skyscraper"
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      ins.adsbygoogle.skyscraper(style='width:300px;height:600px', data-ad-client='ca-pub-5591574346816667', data-ad-slot='4779840634')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});


