mixin ad(type)
  if Number(cheese || 0) < Number(config.GOAL || 0)
    if type==="banner1"
      style .ad div, .ad img, .ad object { display: block !important; margin: 0 auto; }
      .ad
        script.
          var siteId = '1952499', placementId = '7052123';
          var referenceId = placementId + '-' + Date.now() + '-' + Math.random().toString().replace('0.','');
          document.write('<div id="vm-hb-placement-placeholder-'+referenceId+'" data-id="'+placementId+'"></div>');
          (function(){
            var d = document, s = d.createElement('script'), p = d.location.protocol;
            s.type = 'text/javascript';
            s.src = ((p === 'https:') ? 'https' : 'http') + '://d.alcvid.com/tag-market/'+siteId+'/'+referenceId;
            var t = document.getElementsByTagName('head')[0];
            t.insertBefore(s, t.firstChild);
          })();
      hr
    else if type==="banner2"
      hr
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      // responsive-2
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5591574346816667', data-ad-slot='1582684231', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
      hr
    else if type==="banner3"
      hr
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      // responsive-3
      ins.adsbygoogle(style='display:block; margin-bottom: 2em;', data-ad-client='ca-pub-5591574346816667', data-ad-slot='8966350234', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    else if type==="skyscraper"
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      ins.adsbygoogle.skyscraper(style='width:300px;height:600px', data-ad-client='ca-pub-5591574346816667', data-ad-slot='4779840634')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    else if type==="floor"
      script(src="http://cdn2-marketplace.vntsm.com/p.js?s=570778d053d855420d8b584d&r_id=8846497&r_type=skin&r_skin_pagewidth=1170px&r_skin_topspace=0&r_skin_moveonscroll=true")

