include data_table_header

mixin data_table(options)
    h3.inline-header=options.heading
    .table-responsive.collapse.in(id=options.id)
      table.table.table-condensed.table-striped(class=options.summable ? "summable" : "", class=options.rankable ? "rankable" : "")
        block
        // if options.summable
        //   tr
        //   tr
        //     td.lead= "Totals"