mixin pvgna(hero)
  if pvgna && pvgna[hero.id]
    - var guide = pvgna[hero.id]
    a(href=guide["url"], onclick="ga('send', 'event', 'Pvgna', 'click', #{hero.id})")
      img(src='/public/images/pvgna_logo_small.png', title="<strong>Hero Guide Available!</strong><br>Title: " + guide["title"] + "<br>Hero guides by Pvgna")