extend /layout
    
block content
  .row
    .col-md-12
      .image.error
        h2.error
          span.error 404
          br
          span= message? message : "Sorry, we couldn't find that!"
        img(src='//fc08.deviantart.net/fs70/i/2013/049/e/c/dota_2_fan_art___apples_require_a_delicate_touch_by_jeffufu-d5vf65k.jpg')
        div
        a(href='http://fav.me/d5vf65k') Dota 2 Fan Art - Apples require a delicate touch by Jeffufu