extend /layout
    
block content
  .row
    .col-md-12
      .image.error
        h2.error
          span.error 500
          br
          span= message? message : "Woops! Looks like someone fed."
        img(src='http://fc05.deviantart.net/fs70/i/2014/062/0/b/sad_tidehunter_dota_2_by_katieracers-d78us2k.png')
        div
        a(href='http://fav.me/d78us2k') Sad Tidehunter Dota 2 by KatieRacers