extend ../layout

block content
  #about-top.gallery.faq
    .row
      .col-md-6.col-md-offset-3.text-center
        br
        br
        h1 Blog            
        h3 All the cool stuff we've been doing.
        img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
        br
        br
    .row
      .col-md-12
        block blog_content