script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
// responsive-2
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5591574346816667', data-ad-slot='1582684231', data-ad-format='auto')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});

