if production
  script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  ins(class="adsbygoogle leaderboard", style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-5591574346816667", data-ad-slot="5235463836")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
else
  img.leaderboard(src='https://storage.googleapis.com/support-kms-prod/SNP_501E7C3D5CA3CA07C641E6BAFB8A53C794CF_2922339_en_v2')