if process.env.NODE_ENV=="production"
  script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  ins.adsbygoogle.skyscraper(style='display:block;margin: 0 auto;width:300px;height:600px', data-ad-client='ca-pub-5591574346816667', data-ad-slot='4779840634')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
else
  img.skyscraper(src='https://lh4.ggpht.com/1Rw1DEbRB87sJ3sdx1g8yMrmx-Lt-VgYqhYolXv_y0hAZxbqoA1HAw1qT-JLk68-dHEL-QHmAA=w300')