extend player

include /mixins/hero_table
include /mixins/teammate_table
include /mixins/match_table

block playercontent
  //pre=JSON.stringify(player.aggData)

  .row
    .col-md-12
      +match_table(player.data.slice(0,10))
      hr
      +ad("banner3")
      hr
      +hero_table(player.heroes_list)
      +teammate_table(player.teammate_list)
      
append footer_assets
  script.
    playerMatches(matches, {paging: false});
    $('#heroes').dataTable({
        "paging": true,
        "order": [
            [2, "desc"]
        ],
        "drawCallback":function(){
            tooltips();
        },
        "columnDefs": [{
            targets: "fromNow",
            render: function(data, type) {
                if (type === "display") {
                    if (!Number(data)){
                        return "never";
                    }
                    return moment.unix(data).fromNow();
                }
                return data;
            }
        }]
    });
    $('#teammates').dataTable({
        "paging": true,
        "order": [
            [2, "desc"]
        ],
        "drawCallback":function(){
            tooltips();
        },
        "columnDefs": [{
            targets: "fromNow",
            render: function(data, type) {
                if (type === "display") {
                    if (!Number(data)){
                        return "never";
                    }
                    return moment.unix(data).fromNow();
                }
                return data;
            }
        }]
    });
//-
  script.
    var matches = !{JSON.stringify(player.data.slice(0,10))};
    var heroes = !{JSON.stringify(player.heroes_list)};
    var teammates = !{JSON.stringify(player.teammate_list)};
    drawHeroes(heroes);
    drawTeammates(teammates);