extend player

block playercontent
  .row
    .col-md-12
      h3 Rating 
        small To display MMR on profile, 
          a.alert-link(href="http://steamcommunity.com/profiles/"+ (bots[0] ? bots[0].steamID : "")) add a tracker
          |, then play a ranked game.
      #ratings
      

append footer_assets
  script.
    var ratings = !{JSON.stringify(player.ratings)};
    ratingsChart(ratings);