extend player

block playercontent
  .row
    .col-md-12
      h3 Rating 
        small To display MMR, #[a(href="/post/yasp-mmr-and-you") enable it] on your in-game Dota profile.
      div.btn.btn-info.btn-sm(onclick='toggle()') Toggle Timeseries
      #ratings

append footer_assets
  script.
    var ratings = !{JSON.stringify(player.ratings || [])};
    var indexBased = true;
    var toggle = function(){
      indexBased = !indexBased;
      ratingsChart(ratings, indexBased);
    };
    ratingsChart(ratings, indexBased);
