extend player

block playercontent
  .row
    .col-md-12.table-responsive
      h3 Matches
      table.table#matches

append footer_assets
  script.
    var matches = !{JSON.stringify(player.data)};
    playerMatches(matches);