extend player

include /mixins/hero_table
include /mixins/teammate_table
include /mixins/match_table

block playercontent
  //pre=JSON.stringify(player.heroes_list)
  .row
    .col-md-8
      +match_table(player.matches)
    .col-md-4
      +hero_table(player.heroes_list, true)
      //+teammate_table(player.teammate_list.slice(0,10), true)
  .row
    .col-md-12
      +pvgna_footer
      
append footer_assets
  script.