extend player

block playercontent
  .row
    .col-md-8
      h2 Activity
      #cal-heatmap
    .col-md-4
      +ad("skyscraper")
    
append footer_assets
  script.
    createCalHeatmap(!{JSON.stringify(player.aggData.start_time.counts)});