extend player
include /mixins/match_table

block playercontent
  .row
    .col-md-12.table-responsive
      +match_table(player.matches)
  .row
    .col-md-12
      +pvgna_footer

append footer_assets
  script.
