extend player

block playercontent
  - var clientConstants = {"game_mode": constants.game_mode,"lobby_type": constants.lobby_type,"heroes": constants.heroes,"parse_status": constants.parse_status};
  script.
    var constants = !{JSON.stringify(clientConstants)};
    var matches = !{JSON.stringify(player.matches)};
    var heroes = !{JSON.stringify({})};
    var teammates = !{JSON.stringify({})};
  .row
    .col-md-12.table-responsive
      h3 Matches
      table.table#matches
append footer_assets
  script.
    playerMatches();