extend player

block playercontent
  .row
    .col-md-12
      h3 Calendar
      #cal-heatmap
  .row
    .col-md-12
      script.
        var start_times = !{JSON.stringify(player.activity)};
      - var timeBuckets = {"day":1,"hour":1,"month":1}
      each val, key in timeBuckets
        h3 #{prettyPrint(key)}
        div.histogram-chart(id="chart-histogram-"+key, data-histogram=key)
    
append footer_assets
  script.
    createCalHeatmap(start_times.counts);
  script.
    $(".histogram-chart").each(function() {
        var key = $(this).attr('data-histogram');
        createHistogram(start_times.counts, start_times.win_counts, key);
    });