extend /layout

block content
  .row(style="margin-top:1em;")
    .col-md-12
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key === 'index' ? "" : key))= val.name
        if player.profileurl
          li: a(href=player.profileurl, target="_blank") Steam Profile
  block playercontent
  hr
  .row
    .col-md-12
      include /ads/leaderboard_3

append footer_assets
  script.
    playerMatches(!{JSON.stringify(options)});