extend player

block playercontent
  .row
    - var counts = {"leaver_status":1,"game_mode":1,"lobby_type":1,"lane_role":1,"region":1,"patch":1}
    each val, key in counts
      .col-md-4
        h3=key.split("_").join(" ")
          small  (#{player.aggData[key].n} matches)
        table.table.table-striped.rankable
          thead
            tr
              th Category
              th Matches
              th Win%
          tbody
            each val2, key2 in player.aggData[key].counts
              tr
                - var obj = {}
                - obj[key] = key2;
                td: a(href="/players/"+player.account_id+"/matches?"+qs.stringify(obj))=constants[key] ? (constants[key][key2] ? constants[key][key2].name || constants[key][key2] : JSON.stringify(constants[key])) : key2
                td.rankable=val2
                td.rankable
                  +progress_bar(player.aggData[key].win_counts[key2], val2)
