extend player

block playercontent
  .row
    .col-md-12
      h3 Rating 
        small To show MMR here, select it for display on your Dota profile.
      #ratings
      

append footer_assets
  script.
    var ratings = !{JSON.stringify(player.ratings)};
    ratingsChart(ratings);