extend player
include /mixins/teammate_table

block playercontent
  h3 Pros 
    small Games played with professional players
  .row
    .col-md-12.table-responsive
      +teammate_table(player.teammate_list)
      
append footer_assets
  script.
