extend player

include /mixins/hero_table
include /mixins/teammate_table

block playercontent
  //pre=JSON.stringify(player.aggData)
  script.
    var matches = !{JSON.stringify(player.matches.slice(0,10))};
    var heroes = !{JSON.stringify(player.aggData.heroes)};
    var teammates = !{JSON.stringify(player.aggData.teammates)};
    var ratings = !{JSON.stringify(player.ratings ? player.ratings : [])};
  .row
    .col-md-12.table-responsive
      h3 Recent
      table.table#matches
      
  hr
  .row
    .col-md-12
      +ad("banner3")
    
  if typeof player.account_id === "number"
    hr
    .row
      .col-md-12
        h3 Heroes
        table.table#heroes
        //+hero_table(player.heroes_arr, true)
    hr
    .row
      .col-md-12
        h3 Teammates/Opponents
        table.table#teammates
        //+teammate_table(player.teammates)
    hr
    .row
      .col-md-12
        h3 Rating
          small.rating#solo Solo:
          small.rating#party Party:
        #ratings

append footer_assets
  script.
    playerMatches();
    ratingsChart(ratings);