extend player
include /mixins/match_table

block playercontent
  .row
    .col-md-12.table-responsive
      +match_table(player.data)

append footer_assets
  script.
    $('#matches').dataTable({
        "order": [
                [0, "desc"]
            ],
        //"data": data,
        paging: true,
        pageLength: 20,
        lengthChange: false,
        //stateSave: true,
        searching: false,
        processing: true,
        columnDefs: [
            {
                "targets": "fromNow",
                render: function(data, type) {
                    if (type === "display") {
                        return moment.unix(data).fromNow();
                    }
                    return data;
                }
            },
            {
                "targets": "seconds",
                render: function(data, type) {
                    if (type === "display") {
                        return formatSeconds(data);
                    }
                    return data;
                }
            }
            ]
    });
