extend player

include /mixins/hero_table
include /mixins/teammate_table

block playercontent
  //pre=JSON.stringify(player.aggData)

  .row
    .col-md-12.table-responsive
      h3 Recent
      table.table#matches
      
  hr
  .row
    .col-md-12
      +ad("banner3")
    
  if typeof player.account_id === "number"
    hr
    .row
      .col-md-12
        h3 Heroes
        table.table#heroes
        //+hero_table(player.heroes_arr, true)
    hr
    .row
      .col-md-12
        h3 Players
        table.table#teammates
        //+teammate_table(player.teammates)
    hr
    .row
      .col-md-12
        h3 Rating 
          small To display MMR on profile, 
            a.alert-link(href="http://steamcommunity.com/profiles/"+ (bots[0] ? bots[0].steamID : "")) add a tracker.
        h3
          span.label.label-info#solo Solo: 
          span.label.label-warning#party Party: 
        #ratings

append footer_assets
  script.
    var matches = !{JSON.stringify(player.data.slice(0,10))};
    var heroes = !{JSON.stringify(player.heroes_list)};
    var teammates = !{JSON.stringify(player.teammate_list)};
    var ratings = !{JSON.stringify(player.ratings ? player.ratings : [])};
    playerMatches(matches, {paging: false});
    drawHeroes(heroes);
    drawTeammates(teammates);
    ratingsChart(ratings);