extend player

include /mixins/hero_table
include /mixins/teammate_table
include /mixins/match_table

block playercontent
  //pre=JSON.stringify(player.heroes_list)
  .row
    .col-md-7
      +match_table(player.aggData.matches.slice(0,20))
    .col-md-5
      +hero_table(player.heroes_list.slice(0,20), true)
      //+teammate_table(player.teammate_list.slice(0,10), true)
      
append footer_assets
  script.