link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css')
script(type='text/javascript' src='//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')
script(type='text/javascript' src='//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js')